<div class="page">
    <div class="page-header">
        <h1 class="page-title">Editar Oferta</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="panel">
            <div class="panel-body">
                <form autocomplete="off" method="POST" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                    <div class="row row-lg">
                        <div class="col-lg-12 form-horizontal">
                            <div class="form-group">
                                <label>Categoría</label>
                                <select required name="categoria" class="form-control" data-autoselect="{{categoria}}">
                                    <option value="Servicios">Servicios</option>
                                    <option value="Bienes">Bienes</option>
                                    <option value="Dinero">Dinero</option>
                                    <option value="Laboral">Laboral</option>
                                    <option value="Gestión">Gestión</option>
                                    <option value="Educación">Educación</option>
                                    <option valie="Aporte Programático">Aporte Programático</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                              <label>Tipo</label>
                              <input type="text" class="form-control" name="tipo" value="{{tipo}}" />
                            </div>

                            <div class="form-group">
                              <label>Descripción</label>
                              <input type="text" class="form-control" name="descripcion" value="{{descripcion}}" />
                            </div>

                            <div class="form-group">
                              <label>Fecha fin</label>
                              <input type="text" class="form-control" name="fecha_fin" value="{{dateInput fecha_fin}}" />
                            </div>
                        </div>

                        <div class="form-group col-lg-12 text-right padding-top-m">
                            <button type="submit" class="btn btn-block btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{#contentFor "pageScripts"}}
<script src="/js/select2.js"></script>
{{/contentFor}}