<div class="page">
    <div class="page-content">
      <!-- Panel -->
      <div class="panel">
        <div class="page-header">
          <h1 class="page-title">Ofertas</h1>
        </div>
        <!--<div class="panel-body">
          <form class="page-search-form" role="search" method="POST">
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Buscar oferta">
              <button type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
            </div>
          </form>
        </div>-->
      </div>
      
      {{#each results}}
      {{#if tipo}}
      <div class="panel">
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <h4 class="mb-0">{{categoria}}: {{tipo}}
                <div class="float-right">
                  <a class="btn btn-sm btn-default" href="ofertas/{{_id}}/edit">Editar</a>
                  <a class="btn btn-sm btn-danger" href="ofertas/{{_id}}/delete">Eliminar</a>
                </div>
              </h4>
              <p class="mb-0">{{descripcion}}</p>
              <div class="inline mb-0">
                <div>
                  <i class="icon icon-color wb-user" aria-hidden="true"></i>
                  <a href="/admin/personajes/{{personaje._id}}">
                    <small>{{#if personaje}}{{personaje.nombre}}{{else}}<em>Sin personaje</em>{{/if}}</small>
                  </a>
                </div>
                <div>
                  <i class="icon icon-color wb-calendar" aria-hidden="true"></i>
                  <small>Válida hasta el {{date fecha_fin}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      {{/each}}
      <!-- End Panel -->
    </div>
  </div>
