<div class="page">
    <div class="page-header">
        <h1 class="page-title">Registrar Organizacion</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="panel">
            <div class="panel-body">
                <form autocomplete="off" method="POST" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                    <div class="row row-lg">
                        <div class="col-lg-12 form-horizontal">
                            <h4>Detalles de la organización</h4><br>
                            <div class="form-group">
                              <label>Nombre</label>
                              <input type="text" class="form-control" name="nombre" value="{{nombre}}" />
                            </div>

                            <div class="form-group">
                              <label>Descripción</label>
                              <input type="text" class="form-control" name="descripcion" value="{{descripcion}}" />
                            </div>

                            <div class="form-group">
                              <label>Potencial declarado</label>
                              <input type="text" class="form-control" name="potencial_declarado" value="{{potencial_declarado}}" />
                            </div>

                            <div class="form-group">
                              <label>Potencial esperado</label>
                              <input type="text" class="form-control" name="potencial_esperado" value="{{potencial_esperado}}" />
                            </div>
                        </div>

                        <div class="form-group col-lg-12 text-right padding-top-m">
                            <button type="submit" class="btn btn-block btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{#contentFor "pageScripts"}}
<script src="/js/select2.js"></script>
{{/contentFor}}