<div class="page">
    <div class="page-header">
        <h1 class="page-title">Organizaciones <span class="badge badge-info">{{total}}</span>
        <span class="float-right">
          <a href="organizaciones/new" class="btn btn-default">Agregar organizaciones</a>
        </span>
      </h1>
    </div>
    <div class="page-content">
       <div class="panel">
            <div class="panel-body">
                <form class="form" role="search" method="GET" action="#">
                  <div class="form-group">
                    <label>Nombre de la organización:</label><br>
                    <div>
                      <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Buscar organización" value="{{query.search}}">
                    </div>
                  </div>
                </form>
            </div>
        </div>


        {{#each results}}
            {{#if nombre}}
                <div class="panel" data-id="{{id}}">
                    <div class="panel-heading">
                      <div class="media">
                        <div class="media-body" width="100%">
                          <div class="row">
                            <div class="col-sm-12">
                              <a href="organizaciones/{{_id}}"><h3 class="panel-title">{{nombre}}</h3></a>
                            </div>
                            <div class="col-sm-3">
                              <div class="panel-body pt-0">
                                <div>
                                  <i class="icon icon-color wb-user" aria-hidden="true"></i>
                                  <small>Personajes: {{count integrantes}}</small>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="panel-body pt-0">
                                <div>
                                  <small>Potencial declarado: {{potencial_declarado}}</small><br>
                                  <small>Potencial esperado: {{potencial_esperado}}</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <ul class="panel-actions">
                            <li><a href="organizaciones/{{_id}}">Ver</a></li>
                            <li><a href="organizaciones/{{_id}}/edit">Editar</a></li>
                            <li><a href="organizaciones/{{_id}}/delete">Eliminar</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}

        {{#ifCond total '>' max}}
        <a href="?page={{next_page}}" class="btn btn-outline btn-info btn-lg">Siguiente</a>
        {{/ifCond}}
        <!-- End Panel -->
    </div>
</div>