<div class="page">
    <div class="page-header">
        <h1 class="page-title">Registrar Organizacion</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="panel">
            <div class="panel-body">
                <form autocomplete="off" method="POST" novalidate="novalidate" class="fv-form fv-form-bootstrap">
                    <div class="row row-lg">
                        <div class="col-lg-12 form-horizontal">
                            <h4>Detalles de la organización</h4><br>
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <input type="text" class="form-control" name="nombre" />
                                <label class="floating-label">Nombre</label>
                            </div>

                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <select class="form-control" name="representante"></select>
                                <label class="floating-label">Personaje que representa la organización</label>
                            </div>

                            <div class="form-group">
                              <label>Potencial declarado</label>
                              <input type="text" class="form-control" name="potencial_declarado" value="" />
                            </div>

                            <div class="form-group">
                              <label>Potencial esperado</label>
                              <input type="text" class="form-control" name="potencial_esperado" value="" />
                            </div>
                        </div>

                        <div class="form-group form-material col-lg-12 text-right padding-top-m">
                            <button type="submit" class="btn btn-block btn-primary waves-effect waves-light">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>