<div class="page">
    <div class="page-content container-fluid">
        <h2>Organización: {{nombre}}
          <div class="float-right">
            <div class="btn btn-outline btn-default" data-toggle="modal" data-target="#addPersonaje">Agregar Personaje</div>
            <a href="{{_id}}/delete" class="btn btn-danger">Eliminar</a>
            <a href="{{_id}}/edit" class="btn btn-default">Editar</a>
          </div>
        </h2>
        <h4 class="mb-20">{{descripcion}}</h4>
        <div class="row">
            <div class="col-sm-3">
                <h4>Personajes: {{count integrantes}}</h4>
            </div>
            <div class="col-sm-3">
                <h4>Potencial declarado: {{potencial_declarado}}</h4>
            </div>
            <div class="col-sm-3">
                <h4>Potencial estimado: {{potencial_esperado}}</h4>
            </div>
        </div>
        <br><br>
        {{#each integrantes}}
        <div class="panel color-{{#if color}}{{color}}{{else}}default{{/if}}" data-id="{{id}}">
            <div class="panel-heading">
                <div class="media">
                <img class="d-flex mr-3 lazy" data-plugin="zoom" data-action="zoom" width=50 data-src="{{#if foto_perfil}}/uploads/{{foto_perfil}}{{else}}/portraits/default.png{{/if}}" alt="{{nombre}}">
                <div class="media-body" width="100%">
                    <div class="row">
                    <div class="col-sm-12">
                        <h3 class="panel-title"><a href="/admin/personajes/{{_id}}">{{nombre}} {{apellido}}</a> <span class="badge badge-default"><i class="fa fa-comment"></i> {{count comentarios}}</span></h3>
                        {{#if descripcion}}<p class="pl-30 pr-30">{{descripcion}}</p>{{/if}}
                    </div>
                    <div class="col-sm-3">
                        <div class="panel-body pt-0">
                        <div>
                            <i class="icon icon-color wb-email" aria-hidden="true"></i>
                            <small>{{#if email_personal}}<a href="mailto:{{email_personal}}">{{email_personal}}</a>{{else}}<em>Sin email</em>{{/if}}</small>
                        </div>
                        <div>
                            <i class="icon icon-color wb-user" aria-hidden="true"></i>
                            <small>{{#if referido}}<a href="/admin/personajes/{{referido._id}}">{{referido.nombre}}</a>{{else}}<em>Sin referido</em>{{/if}}</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel-body pt-0">
                        <div>
                            <i class="icon icon-color fa-birthday-cake" aria-hidden="true"></i>
                            <small>{{#if fecha_nacimiento}}{{date fecha_nacimiento}}{{else}}Sin fecha de nacimiento{{/if}}<br></small>
                        </div>
                        <div>
                            <i class="icon icon-color fa-phone" aria-hidden="true"></i>
                            <small>{{#if telefono_movil}}<a href="phone:{{telefono_movil}}">{{telefono_movil}}</a>{{else}}<em>No tiene teléfono celular.</em>{{/if}}<br></small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="panel-body pt-0">
                        {{#if agregado_contactos_google}}
                        <div>
                            <span class="badge badge-success">Agregado a contactos de Google</span>
                        </div>
                        {{/if}}
                        </div>
                    </div>
                    </div>
                    <ul class="panel-actions">
                    <li><a href="/admin/personajes/{{_id}}">Ver</a></li>
                    <li><a href="/admin/personajes/{{_id}}/edit">Editar</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="modal fade" id="addPersonaje">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Agregar Personaje</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <select id="personaje_modal" class="form-control selectAjax" data-model="personajes" name="personaje"></select>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn btn-success agregar-organizacion" data-id="{{_id}}">Agregar</div>
        </div>
    </div>
  </div>
</div>

<div style="display: none">
    <script data-plugin="select2" style="display: none"></script>
</div>
{{#contentFor "pageScripts"}}
<script src="/js/select2.js"></script>
<script src="/js/organizacion_view.js"></script>
{{/contentFor}}