<!-- Bootstrap and site stylesheets -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap-extend.min.css">
<link rel="stylesheet" href="/assets/css/site.css">
<link rel="stylesheet" href="/css/app.css">
<!-- Necessary plugin stylesheets -->
<link rel="stylesheet" href="/assets/vendor/asscrollable/asScrollable.min.css">
<link rel="stylesheet" href="/assets/vendor/slidepanel/slidePanel.css">
<link rel="stylesheet" href="/assets/vendor/switchery/switchery.css">
<link rel="stylesheet" href="/assets/vendor/flag-icon-css/flag-icon.css">
<!-- Icon stylesheets -->
<link rel="stylesheet" href="/assets/fonts/web-icons/web-icons.min.css">
<link rel="stylesheet" href="/assets/fonts/brand-icons/brand-icons.min.css">
<link rel="stylesheet" href="/assets/fonts/font-awesome/font-awesome.min.css">
<link rel="stylesheet" href="/assets/vendor/jquery-mmenu/jquery-mmenu.min.css">
<!-- Font stylesheets -->
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'> {{{block 'pageStyles'}}}

<!--[if lt IE 9]>
<script src="/assets/vendor/html5shiv/html5shiv.min.js"></script>
<![endif]-->
<!--[if lt IE 10]>
<script src="/assets/vendor/media-match/media.match.min.js"></script>
<script src="/assets/vendor/respond/respond.min.js"></script>
<![endif]-->
<script src="/assets/vendor/breakpoints/breakpoints.js"></script>
<script>
  Breakpoints();
</script>
