<!-- Core and plugin dependencies -->
<script src="/assets/vendor/babel-external-helpers/babel-external-helpers.js"></script>
<script src="/assets/vendor/jquery/jquery.js"></script>
<script src="/assets/vendor/tether/tether.js"></script>
<script src="/assets/vendor/bootstrap/bootstrap.js"></script>
<script src="/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
<script src="/assets/vendor/asscrollbar/jquery-asScrollbar.js"></script>
<script src="/assets/vendor/asscrollable/jquery-asScrollable.js"></script>
<script src="/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>
<script src="/assets/vendor/moment/moment.min.js"></script>
<script src="/assets/vendor/livestamp/livestamp.min.js"></script>
<script src="/assets/vendor/matchheight/jquery.matchHeight-min.js"></script>
<script src="/assets/vendor/slidepanel/jquery-slidePanel.js"></script>
<script src="/assets/vendor/switchery/switchery.min.js"></script>
<script src="/assets/vendor/jquery-mmenu/jquery.mmenu.min.all.js"></script>


<!-- Page specific -->
{{{block 'pageVendors'}}}

<!-- Template relating scripts -->
<script src="/assets/js/Autoload.js"></script>
<script src="/assets/js/State.js"></script>
<script src="/assets/js/Component.js"></script>
<script src="/assets/js/Plugin.js"></script>
<script src="/assets/js/Base.js"></script>
<script src="/assets/js/Config.js"></script>
<script src="/assets/js/Section/Menubar.js"></script>
<script src="/assets/js/Section/GridMenu.js"></script>
<script src="/assets/js/Section/Sidebar.js"></script>
<script src="/assets/js/Section/PageAside.js"></script>
<!-- Template config scripts -->
<script src="/assets/js/config/colors.js"></script>
<script>
    Config.set('assets', '/assets');
</script>

<script src="/assets/js/Site.js"></script>
<script src="/assets/js/Plugin/asscrollable.js"></script>
<script src="/assets/js/Plugin/material.js"></script>
<script src="/assets/js/Plugin/action-btn.js"></script>
<script src="/assets/js/Plugin/switchery.js"></script>
<script src="/assets/js/Plugin/matchheight.js"></script>
<script src="/assets/js/Plugin/slidepanel.js"></script>
<script src="/assets/js/Plugin/menu.js"></script>
<script src="/js/lazyload.js"></script>
<script src="/js/dashboard.js"></script>

<!-- Page Plugins -->
{{{block 'pageScripts'}}}

<script>
    (function(document, window, $) {
        'use strict';
        var Site = window.Site;
        var Autoload = window.Autoload;
        $(document).ready(function() {
            Autoload.run(['slidepanel', 'screenfull', 'jquery-selective', 'alertify'], function() {
              Site.run();
              $(window).trigger('siteReady');
              {{{block 'loadedScript'}}}
            });
        });
    })(document, window, jQuery);
</script>
