<div class="etiquetas" data-autoselect="{{join etiquetas}}">
  <div>
    <h5>Condición Socioecnómica</h5>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONDICION:Bajo">Bajo
    </span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONDICION:Medio Bajo">Medio Bajo</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONDICION:Medio">Medio</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONDICION:Medio Alto">Medio Alto</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONDICION:Alto">Alto</span>
  </div><br>
  <div>
    <h5>Poblaciones</h5>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:LGBTI">LGBTI</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:Blanco">Blanco</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:Negro">Negritudes</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:Indigena">Indígena</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:Juventud">Juventud</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:Discapacitado">Discapacitado</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:Victima">Víctima</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:Desplazado">Desplazado</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:Religion">Religión</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:Cabeza de Familia">Cabeza de Familia</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="POBLACION:Joven Profesional">Jóven Profesional</span>
  </div><br>
  <div>
    <h5>Áreas del Conocimiento</h5>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONOCIMIENTO:Ciencias Economicas">Ciencias Económicas</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONOCIMIENTO:Arquitectura y Diseno">Arquitectura y Diseño</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONOCIMIENTO:Artes y Humanidades">Artes y Humanidades</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONOCIMIENTO:Ciencias Sociales">Ciencias Sociales</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONOCIMIENTO:Derecho">Derecho</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONOCIMIENTO:Ciencias Naturales">Ciencias Naturales</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONOCIMIENTO:Ingenieria">Ingeniería</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONOCIMIENTO:Ciencias de la Salud">Ciencias de la Salud</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="CONOCIMIENTO:Deportes">Deportes</span>
  </div><br>
  <div>
    <h5>Otros</h5>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="OTRO:Lider Social">Líder Social</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="OTRO:Provincia">Provincia</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="OTRO:Desempleado">Desempleado</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="OTRO:Animalista">Animalista</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="OTRO:Ambientalista">Ambientalista</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="OTRO:Audlto Mayor">Adulto Mayor</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="OTRO:Gobierno">Gobierno</span>
    <span class="badge badge-info">
      <input type="checkbox" name="etiquetas[]" value="OTRO:Empresario">Empresario</span>
  </div>
</div>