<nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided" data-toggle="menubar">
    <span class="sr-only">Navegación</span>
    <span class="hamburger-bar"></span>
  </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse" data-toggle="collapse">
    <i class="icon wb-more-horizontal" aria-hidden="true"></i>
  </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <span class="navbar-brand-text">Santiago Morales</span>
        </div>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search" data-toggle="collapse">
    <span class="sr-only">Buscador</span>
    <i class="icon wb-search" aria-hidden="true"></i>
  </button>
    </div>

    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="nav-item hidden-float" id="toggleMenubar">
                    <a class="nav-link" data-toggle="menubar" href="#" role="button">
                        <i class="icon hamburger hamburger-arrow-left">
                          <span class="sr-only">Toggle menubar</span>
                          <span class="hamburger-bar"></span>
                        </i>
                    </a>
                </li>
                <li class="nav-item hidden-sm-down" id="toggleFullscreen">
                    <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                        <span class="sr-only">Toggle fullscreen</span>
                    </a>
                </li>
                <li class="nav-item hidden-float">
                    <a class="nav-link icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search" role="button">
                        <span class="sr-only">Toggle Search</span>
                    </a>
                </li>
            </ul>
            <!-- End Navbar Toolbar -->
            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="nav-item">
                    <a class="nav-link ofertas-modal" href="#" role="button" data-toggle="modal" data-target="#ofertasModal">
                        Ofertas
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false" data-animation="scale-up" role="button">
                        <span class="avatar avatar-online">
            <img src="/portraits/default.png" alt="...">
            <i></i>
          </span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <!--<a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>-->
                        <div class="dropdown-divider" role="presentation"></div>
                        <a class="dropdown-item" href="/admin/logout" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
                    </div>
                </li>
            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search" action="/admin/search" method="GET">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon wb-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" name="text" placeholder="Buscar...">
                        <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search" data-toggle="collapse" aria-label="Close"></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Site Navbar Seach -->
    </div>
</nav>

<div class="modal fade" id="ofertasModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Explorar ofertas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="ofertasForm" autocomplete="off" method="POST" novalidate="novalidate" class="fv-form fv-form-bootstrap form-inline">
          <div class="form-group">
            <label>Tipo de oferta:</label>
            <div style="clear: both;width: 100%">
              <select class="form-control" name="categoria" style="width: 100%">
                <option value="">Cualquier tipo</option>
                <option value="Servicios">Servicios</option>
                <option value="Bienes">Bienes</option>
                <option value="Dinero">Dinero</option>
                <option value="Laboral">Laboral</option>
                <option value="Gestión">Gestión</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Buscar por:</label><br>
            <div style="clear: both;width: 100%">
              <input type="text" class="form-control" id="inputSearch" name="buscar" placeholder="Nombre o descripción">
            </div>
          </div>
        </form> <hr>
        <div class="results-box">
          <em>Busca ofertas para empezar.</em>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="propuesta-tabla-template">
<table class="table table-hover mt-30">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Descripción</th>
      <th>Fecha expira</th>
      <th>Personaje</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
</script>

<script type="text/html" id="propuesta-template">
<tr>
    <td>{tipo}</td>
    <td>{descripcion}</td>
    <td>{fecha_fin}</td>
    <td><a href="/admin/personajes/{personaje__id}">{personaje_nombre}</a></td>
    <th>
        <div class="float-right btn-group">
            <a class="btn btn-sm btn-default" href="ofertas/{_id}/edit">Editar</a>
            <a class="btn btn-sm btn-danger" href="ofertas/{_id}/delete">Eliminar</a>
        </div>
    </th>
</tr>
</script>
