<header class="slidePanel-header overlay" style="background-image: url('{{assets}}/photos/placeholder.png');"
  data-method="scroll" data-min="50">
  <div class="overlay-top overlay-panel overlay-background">
    <div class="slidePanel-actions btn-group" aria-label="actions" role="group">
      <button type="button" class="btn btn-pure btn-inverse icon wb-chevron-left" aria-hidden="true"></button>
      <button type="button" class="btn btn-pure btn-inverse icon wb-chevron-right" aria-hidden="true"></button>
      <button type="button" class="btn btn-pure btn-inverse slidePanel-close icon wb-close"
        aria-hidden="true"></button>
    </div>
    <h4>Gardening is life.png</h4>
  </div>
</header>
<div class="slidePanel-inner">
  <section class="slidePanel-inner-section">
    <div class="media-header">
      <div class="tags">
        Tags:
        <button type="button" class="btn btn-outline btn-default">Blog</button>
        <button type="button" class="btn btn-outline btn-default">Design</button>
        <button type="button" class="btn btn-outline btn-default">Cool</button>
      </div>
      <div class="share">
        Share:
        <div class="btn-group">
          <button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon bd-twitter" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon bd-facebook" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-icon btn-pure btn-default"><i class="icon bd-dribbble" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="media-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam.
        Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper
        sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
        Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum
        nisl eu consectetur. </p>
    </div>
  </section>
  <section class="slidePanel-inner-section">
    <div class="media-header">
      <div class="float-right">
        <div class="time">3 minutes ago</div>
      </div>
      <a class="avatar mr-10" href="javascript:void(0)">
        <img src="{{assets}}/portraits/2.jpg" alt="...">
      </a>
      <span class="name">Seevisual</span>
    </div>
    <div class="media-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam.
        Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper
        sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
        Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum
        nisl eu consectetur. </p>
    </div>
  </section>
  <div class="slidePanel-comment">
    <textarea class="maxlength-textarea form-control mb-sm mb-20" rows="4"></textarea>
    <button class="btn btn-primary" data-dismiss="modal" type="button">Reply</button>
  </div>
</div>