---
title: Icons
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{assets}}/vendor/asrange/asRange.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/uikit/icon.css">
  {{/content}}


  {{#content "fonts" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/fonts/weather-icons/weather-icons.css">
  {{/content}}

  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/asrange/jquery-asRange.min.js"></script>
  {{/content}}


  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/uikit/icon.js"></script>
  {{/content}}

  {{#content "body"}}


    <div class="page">
      <div class="page-header">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{dest 'uikit/icons.html'}}">Icons</a></li>
          <li class="breadcrumb-item active">Weather Icons</li>
        </ol>
        <div class="page-header-actions">
          <a class="btn btn-sm btn-default btn-outline btn-round" href="http://erikflowers.github.io/weather-icons/"
            target="_blank">
            <i class="icon wb-link" aria-hidden="true"></i>
            <span class="hidden-sm-down">Official Website</span>
          </a>
        </div>
      </div>

      <div class="page-content container-fluid">
        <div class="row py-30">
          <div class="col-md-12 text-center">
            <h2>Search from Weather Icons.</h2>
            <form role="search">
              <div class="input-search">
                <input type="text" class="form-control round" placeholder="Search icon...">
                <button type="submit" class="input-search-btn">
                  <i class="icon wb-search" aria-hidden="true"></i>
                </button>
              </div>
            </form>
            <div class="mb-25">
              <div class="asRange" id="icon_change" data-namespace="rangeUi" data-step="1" data-min="16"
                data-max="64" data-value="24"></div>
              <span id="icon_size">24px</span>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Daytime</h3>
          </div>
          <div class="panel-body container-fluid">
            <div class="row">
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-sunny">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-sunny" aria-hidden="true"></i>
                  <div class="icon-title">day-sunny</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-cloudy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-cloudy" aria-hidden="true"></i>
                  <div class="icon-title">day-cloudy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-cloudy-gusts">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-cloudy-gusts" aria-hidden="true"></i>
                  <div class="icon-title">day-cloudy-gusts</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-cloudy-windy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-cloudy-windy" aria-hidden="true"></i>
                  <div class="icon-title">day-cloudy-windy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-fog">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-fog" aria-hidden="true"></i>
                  <div class="icon-title">day-fog</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-hail">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-hail" aria-hidden="true"></i>
                  <div class="icon-title">day-hail</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-haze">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-haze" aria-hidden="true"></i>
                  <div class="icon-title">day-haze</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-lightning">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-lightning" aria-hidden="true"></i>
                  <div class="icon-title">day-lightning</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-rain">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-rain" aria-hidden="true"></i>
                  <div class="icon-title">day-rain</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-rain-mix">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-rain-mix" aria-hidden="true"></i>
                  <div class="icon-title">day-rain-mix</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-rain-wind">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-rain-wind" aria-hidden="true"></i>
                  <div class="icon-title">day-rain-wind</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-showers">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-showers" aria-hidden="true"></i>
                  <div class="icon-title">day-showers</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-sleet">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-sleet" aria-hidden="true"></i>
                  <div class="icon-title">day-sleet</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-sleet-storm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-sleet-storm" aria-hidden="true"></i>
                  <div class="icon-title">day-sleet-storm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-snow">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-snow" aria-hidden="true"></i>
                  <div class="icon-title">day-snow</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-snow-thunderstorm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-snow-thunderstorm" aria-hidden="true"></i>
                  <div class="icon-title">day-snow-thunderstorm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-snow-wind">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-snow-wind" aria-hidden="true"></i>
                  <div class="icon-title">day-snow-wind</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-sprinkle">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-sprinkle" aria-hidden="true"></i>
                  <div class="icon-title">day-sprinkle</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-storm-showers">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-storm-showers" aria-hidden="true"></i>
                  <div class="icon-title">day-storm-showers</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-sunny-overcast">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-sunny-overcast" aria-hidden="true"></i>
                  <div class="icon-title">day-sunny-overcast</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-thunderstorm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-thunderstorm" aria-hidden="true"></i>
                  <div class="icon-title">day-thunderstorm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-windy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-windy" aria-hidden="true"></i>
                  <div class="icon-title">day-windy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="solar-eclipse">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-solar-eclipse" aria-hidden="true"></i>
                  <div class="icon-title">solar-eclipse</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="hot">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-hot" aria-hidden="true"></i>
                  <div class="icon-title">hot</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-cloudy-high">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-cloudy-high" aria-hidden="true"></i>
                  <div class="icon-title">day-cloudy-high</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="day-light-wind">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-day-light-wind" aria-hidden="true"></i>
                  <div class="icon-title">day-light-wind</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Nighttime</h3>
          </div>
          <div class="panel-body container-fluid">
            <div class="row">
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-clear">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-clear" aria-hidden="true"></i>
                  <div class="icon-title">night-clear</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-cloudy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-cloudy" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-cloudy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-cloudy-gusts">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-cloudy-gusts" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-cloudy-gusts</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-cloudy-windy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-cloudy-windy" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-cloudy-windy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-hail">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-hail" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-hail</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-lightning">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-lightning" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-lightning</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-rain">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-rain" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-rain</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-rain-mix">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-rain-mix" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-rain-mix</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-rain-wind">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-rain-wind" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-rain-wind</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-showers">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-showers" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-showers</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-sleet">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-sleet" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-sleet</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-sleet-storm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-sleet-storm" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-sleet-storm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-snow">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-snow" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-snow</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-snow-thunderstorm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-snow-thunderstorm" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-snow-thunderstorm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-snow-wind">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-snow-wind" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-snow-wind</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-sprinkle">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-sprinkle" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-sprinkle</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-storm-showers">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-storm-showers" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-storm-showers</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-thunderstorm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-thunderstorm" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-thunderstorm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-cloudy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-cloudy" aria-hidden="true"></i>
                  <div class="icon-title">night-cloudy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-cloudy-gusts">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-cloudy-gusts" aria-hidden="true"></i>
                  <div class="icon-title">night-cloudy-gusts</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-cloudy-windy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-cloudy-windy" aria-hidden="true"></i>
                  <div class="icon-title">night-cloudy-windy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-fog">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-fog" aria-hidden="true"></i>
                  <div class="icon-title">night-fog</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-hail">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-hail" aria-hidden="true"></i>
                  <div class="icon-title">night-hail</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-lightning">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-lightning" aria-hidden="true"></i>
                  <div class="icon-title">night-lightning</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-partly-cloudy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-partly-cloudy" aria-hidden="true"></i>
                  <div class="icon-title">night-partly-cloudy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-rain">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-rain" aria-hidden="true"></i>
                  <div class="icon-title">night-rain</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-rain-mix">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-rain-mix" aria-hidden="true"></i>
                  <div class="icon-title">night-rain-mix</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-rain-wind">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-rain-wind" aria-hidden="true"></i>
                  <div class="icon-title">night-rain-wind</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-showers">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-showers" aria-hidden="true"></i>
                  <div class="icon-title">night-showers</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-sleet">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-sleet" aria-hidden="true"></i>
                  <div class="icon-title">night-sleet</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-sleet-storm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-sleet-storm" aria-hidden="true"></i>
                  <div class="icon-title">night-sleet-storm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-snow">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-snow" aria-hidden="true"></i>
                  <div class="icon-title">night-snow</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-snow-thunderstorm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-snow-thunderstorm" aria-hidden="true"></i>
                  <div class="icon-title">night-snow-thunderstorm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-snow-wind">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-snow-wind" aria-hidden="true"></i>
                  <div class="icon-title">night-snow-wind</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-sprinkle">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-sprinkle" aria-hidden="true"></i>
                  <div class="icon-title">night-sprinkle</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-storm-showers">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-storm-showers" aria-hidden="true"></i>
                  <div class="icon-title">night-storm-showers</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-thunderstorm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-thunderstorm" aria-hidden="true"></i>
                  <div class="icon-title">night-thunderstorm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="lunar-eclipse">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-lunar-eclipse" aria-hidden="true"></i>
                  <div class="icon-title">lunar-eclipse</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="stars">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-stars" aria-hidden="true"></i>
                  <div class="icon-title">stars</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="storm-showers">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-storm-showers" aria-hidden="true"></i>
                  <div class="icon-title">storm-showers</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="thunderstorm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-thunderstorm" aria-hidden="true"></i>
                  <div class="icon-title">thunderstorm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-cloudy-high">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-cloudy-high" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-cloudy-high</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-cloudy-high">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-cloudy-high" aria-hidden="true"></i>
                  <div class="icon-title">night-cloudy-high</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="night-alt-partly-cloudy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-night-alt-partly-cloudy" aria-hidden="true"></i>
                  <div class="icon-title">night-alt-partly-cloudy</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Neutral</h3>
          </div>
          <div class="panel-body container-fluid">
            <div class="row">
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="cloud">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-cloud" aria-hidden="true"></i>
                  <div class="icon-title">cloud</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="cloudy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-cloudy" aria-hidden="true"></i>
                  <div class="icon-title">cloudy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="cloudy-gusts">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-cloudy-gusts" aria-hidden="true"></i>
                  <div class="icon-title">cloudy-gusts</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="cloudy-windy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-cloudy-windy" aria-hidden="true"></i>
                  <div class="icon-title">cloudy-windy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="fog">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-fog" aria-hidden="true"></i>
                  <div class="icon-title">fog</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="hail">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-hail" aria-hidden="true"></i>
                  <div class="icon-title">hail</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="rain">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-rain" aria-hidden="true"></i>
                  <div class="icon-title">rain</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="rain-mix">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-rain-mix" aria-hidden="true"></i>
                  <div class="icon-title">rain-mix</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="rain-wind">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-rain-wind" aria-hidden="true"></i>
                  <div class="icon-title">rain-wind</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="showers">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-showers" aria-hidden="true"></i>
                  <div class="icon-title">showers</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="sleet">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-sleet" aria-hidden="true"></i>
                  <div class="icon-title">sleet</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="snow">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-snow" aria-hidden="true"></i>
                  <div class="icon-title">snow</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="sprinkle">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-sprinkle" aria-hidden="true"></i>
                  <div class="icon-title">sprinkle</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="storm-showers">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-storm-showers" aria-hidden="true"></i>
                  <div class="icon-title">storm-showers</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="thunderstorm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-thunderstorm" aria-hidden="true"></i>
                  <div class="icon-title">thunderstorm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="snow-wind">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-snow-wind" aria-hidden="true"></i>
                  <div class="icon-title">snow-wind</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="snow">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-snow" aria-hidden="true"></i>
                  <div class="icon-title">snow</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="smog">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-smog" aria-hidden="true"></i>
                  <div class="icon-title">smog</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="smoke">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-smoke" aria-hidden="true"></i>
                  <div class="icon-title">smoke</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="lightning">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-lightning" aria-hidden="true"></i>
                  <div class="icon-title">lightning</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="raindrops">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-raindrops" aria-hidden="true"></i>
                  <div class="icon-title">raindrops</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="raindrop">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-raindrop" aria-hidden="true"></i>
                  <div class="icon-title">raindrop</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="dust">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-dust" aria-hidden="true"></i>
                  <div class="icon-title">dust</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="snowflake-cold">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-snowflake-cold" aria-hidden="true"></i>
                  <div class="icon-title">snowflake-cold</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="windy">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-windy" aria-hidden="true"></i>
                  <div class="icon-title">windy</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="strong-wind">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-strong-wind" aria-hidden="true"></i>
                  <div class="icon-title">strong-wind</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="sandstorm">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-sandstorm" aria-hidden="true"></i>
                  <div class="icon-title">sandstorm</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="earthquake">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-earthquake" aria-hidden="true"></i>
                  <div class="icon-title">earthquake</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="fire">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-fire" aria-hidden="true"></i>
                  <div class="icon-title">fire</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="flood">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-flood" aria-hidden="true"></i>
                  <div class="icon-title">flood</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="meteor">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-meteor" aria-hidden="true"></i>
                  <div class="icon-title">meteor</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="tsunami">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-tsunami" aria-hidden="true"></i>
                  <div class="icon-title">tsunami</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="volcano">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-volcano" aria-hidden="true"></i>
                  <div class="icon-title">volcano</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="hurricane">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-hurricane" aria-hidden="true"></i>
                  <div class="icon-title">hurricane</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="tornado">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-tornado" aria-hidden="true"></i>
                  <div class="icon-title">tornado</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="small-craft-advisory">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-small-craft-advisory" aria-hidden="true"></i>
                  <div class="icon-title">small-craft-advisory</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="gale-warning">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-gale-warning" aria-hidden="true"></i>
                  <div class="icon-title">gale-warning</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="storm-warning">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-storm-warning" aria-hidden="true"></i>
                  <div class="icon-title">storm-warning</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="hurricane-warning">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-hurricane-warning" aria-hidden="true"></i>
                  <div class="icon-title">hurricane-warning</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-direction">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-direction" aria-hidden="true"></i>
                  <div class="icon-title">wind-direction</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Miscellaneous</h3>
          </div>
          <div class="panel-body container-fluid">
            <div class="row">
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="alien">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-alien" aria-hidden="true"></i>
                  <div class="icon-title">alien</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="celsius">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-celsius" aria-hidden="true"></i>
                  <div class="icon-title">celsius</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="fahrenheit">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-fahrenheit" aria-hidden="true"></i>
                  <div class="icon-title">fahrenheit</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="degrees">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-degrees" aria-hidden="true"></i>
                  <div class="icon-title">degrees</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="thermometer">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-thermometer" aria-hidden="true"></i>
                  <div class="icon-title">thermometer</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="thermometer-exterior">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-thermometer-exterior" aria-hidden="true"></i>
                  <div class="icon-title">thermometer-exterior</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="thermometer-internal">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-thermometer-internal" aria-hidden="true"></i>
                  <div class="icon-title">thermometer-internal</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="cloud-down">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-cloud-down" aria-hidden="true"></i>
                  <div class="icon-title">cloud-down</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="cloud-up">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-cloud-up" aria-hidden="true"></i>
                  <div class="icon-title">cloud-up</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="cloud-refresh">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-cloud-refresh" aria-hidden="true"></i>
                  <div class="icon-title">cloud-refresh</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="horizon">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-horizon" aria-hidden="true"></i>
                  <div class="icon-title">horizon</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="horizon-alt">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-horizon-alt" aria-hidden="true"></i>
                  <div class="icon-title">horizon-alt</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="sunrise">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-sunrise" aria-hidden="true"></i>
                  <div class="icon-title">sunrise</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="sunset">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-sunset" aria-hidden="true"></i>
                  <div class="icon-title">sunset</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moonrise">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moonrise" aria-hidden="true"></i>
                  <div class="icon-title">moonrise</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moonset">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moonset" aria-hidden="true"></i>
                  <div class="icon-title">moonset</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="refresh">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-refresh" aria-hidden="true"></i>
                  <div class="icon-title">refresh</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="refresh-alt">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-refresh-alt" aria-hidden="true"></i>
                  <div class="icon-title">refresh-alt</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="umbrella">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-umbrella" aria-hidden="true"></i>
                  <div class="icon-title">umbrella</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="barometer">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-barometer" aria-hidden="true"></i>
                  <div class="icon-title">barometer</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="humidity">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-humidity" aria-hidden="true"></i>
                  <div class="icon-title">humidity</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="na">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-na" aria-hidden="true"></i>
                  <div class="icon-title">na</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="train">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-train" aria-hidden="true"></i>
                  <div class="icon-title">train</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Moon Phases</h3>
          </div>
          <div class="panel-body container-fluid">
            <div class="row">
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-new">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-new" aria-hidden="true"></i>
                  <div class="icon-title">moon-new</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-crescent-1">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-crescent-1" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-crescent-1</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-crescent-2">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-crescent-2" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-crescent-2</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-crescent-3">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-crescent-3" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-crescent-3</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-crescent-4">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-crescent-4" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-crescent-4</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-crescent-5">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-crescent-5" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-crescent-5</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-crescent-6">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-crescent-6" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-crescent-6</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-first-quarter">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-first-quarter" aria-hidden="true"></i>
                  <div class="icon-title">moon-first-quarter</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-gibbous-1">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-gibbous-1" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-gibbous-1</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-gibbous-2">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-gibbous-2" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-gibbous-2</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-gibbous-3">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-gibbous-3" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-gibbous-3</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-gibbous-4">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-gibbous-4" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-gibbous-4</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-gibbous-5">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-gibbous-5" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-gibbous-5</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waxing-gibbous-6">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waxing-gibbous-6" aria-hidden="true"></i>
                  <div class="icon-title">moon-waxing-gibbous-6</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-full">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-full" aria-hidden="true"></i>
                  <div class="icon-title">moon-full</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-gibbous-1">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-gibbous-1" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-gibbous-1</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-gibbous-2">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-gibbous-2" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-gibbous-2</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-gibbous-3">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-gibbous-3" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-gibbous-3</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-gibbous-4">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-gibbous-4" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-gibbous-4</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-gibbous-5">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-gibbous-5" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-gibbous-5</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-gibbous-6">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-gibbous-6" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-gibbous-6</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-third-quarter">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-third-quarter" aria-hidden="true"></i>
                  <div class="icon-title">moon-third-quarter</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-crescent-1">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-crescent-1" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-crescent-1</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-crescent-2">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-crescent-2" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-crescent-2</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-crescent-3">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-crescent-3" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-crescent-3</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-crescent-4">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-crescent-4" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-crescent-4</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-crescent-5">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-crescent-5" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-crescent-5</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-waning-crescent-6">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-waning-crescent-6" aria-hidden="true"></i>
                  <div class="icon-title">moon-waning-crescent-6</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-new">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-new" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-new</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-crescent-1">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-crescent-1" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-crescent-1</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-crescent-2">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-crescent-2" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-crescent-2</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-crescent-3">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-crescent-3" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-crescent-3</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-crescent-4">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-crescent-4" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-crescent-4</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-crescent-5">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-crescent-5" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-crescent-5</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-crescent-6">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-crescent-6" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-crescent-6</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-first-quarter">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-first-quarter" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-first-quarter</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-gibbous-1">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-gibbous-1" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-gibbous-1</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-gibbous-2">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-gibbous-2" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-gibbous-2</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-gibbous-3">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-gibbous-3" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-gibbous-3</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-gibbous-4">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-gibbous-4" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-gibbous-4</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-gibbous-5">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-gibbous-5" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-gibbous-5</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waxing-gibbous-6">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waxing-gibbous-6" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waxing-gibbous-6</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-full">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-full" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-full</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-gibbous-1">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-gibbous-1" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-gibbous-1</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-gibbous-2">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-gibbous-2" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-gibbous-2</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-gibbous-3">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-gibbous-3" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-gibbous-3</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-gibbous-4">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-gibbous-4" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-gibbous-4</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-gibbous-5">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-gibbous-5" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-gibbous-5</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-gibbous-6">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-gibbous-6" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-gibbous-6</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-third-quarter">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-third-quarter" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-third-quarter</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-crescent-1">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-crescent-1" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-crescent-1</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-crescent-2">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-crescent-2" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-crescent-2</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-crescent-3">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-crescent-3" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-crescent-3</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-crescent-4">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-crescent-4" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-crescent-4</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-crescent-5">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-crescent-5" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-crescent-5</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="moon-alt-waning-crescent-6">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-moon-alt-waning-crescent-6" aria-hidden="true"></i>
                  <div class="icon-title">moon-alt-waning-crescent-6</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Time</h3>
          </div>
          <div class="panel-body container-fluid">
            <div class="row">
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-1">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-1" aria-hidden="true"></i>
                  <div class="icon-title">time-1</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-2">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-2" aria-hidden="true"></i>
                  <div class="icon-title">time-2</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-3">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-3" aria-hidden="true"></i>
                  <div class="icon-title">time-3</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-4">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-4" aria-hidden="true"></i>
                  <div class="icon-title">time-4</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-5">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-5" aria-hidden="true"></i>
                  <div class="icon-title">time-5</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-6">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-6" aria-hidden="true"></i>
                  <div class="icon-title">time-6</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-7">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-7" aria-hidden="true"></i>
                  <div class="icon-title">time-7</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-8">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-8" aria-hidden="true"></i>
                  <div class="icon-title">time-8</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-9">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-9" aria-hidden="true"></i>
                  <div class="icon-title">time-9</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-10">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-10" aria-hidden="true"></i>
                  <div class="icon-title">time-10</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-11">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-11" aria-hidden="true"></i>
                  <div class="icon-title">time-11</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="time-12">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-time-12" aria-hidden="true"></i>
                  <div class="icon-title">time-12</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Directional Arrows</h3>
          </div>
          <div class="panel-body container-fluid">
            <div class="row">
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="direction-up">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-direction-up" aria-hidden="true"></i>
                  <div class="icon-title">direction-up</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="direction-up-right">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-direction-up-right" aria-hidden="true"></i>
                  <div class="icon-title">direction-up-right</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="direction-right">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-direction-right" aria-hidden="true"></i>
                  <div class="icon-title">direction-right</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="direction-down-right">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-direction-down-right" aria-hidden="true"></i>
                  <div class="icon-title">direction-down-right</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="direction-down">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-direction-down" aria-hidden="true"></i>
                  <div class="icon-title">direction-down</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="direction-down-left">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-direction-down-left" aria-hidden="true"></i>
                  <div class="icon-title">direction-down-left</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="direction-left">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-direction-left" aria-hidden="true"></i>
                  <div class="icon-title">direction-left</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="direction-up-left">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-direction-up-left" aria-hidden="true"></i>
                  <div class="icon-title">direction-up-left</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Beaufort Wind Scale</h3>
          </div>
          <div class="panel-body container-fluid">
            <div class="row">
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-0">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-0" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-0</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-1">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-1" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-1</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-2">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-2" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-2</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-3">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-3" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-3</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-4">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-4" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-4</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-5">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-5" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-5</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-6">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-6" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-6</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-7">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-7" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-7</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-8">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-8" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-8</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-9">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-9" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-9</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-10">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-10" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-10</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-11">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-11" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-11</div>
                </div>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-4 icondemo-wrap vertical-align" data-name="wind-beaufort-12">
                <div class="icondemo vertical-align-middle">
                  <i class="icon wi-wind-beaufort-12" aria-hidden="true"></i>
                  <div class="icon-title">wind-beaufort-12</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  {{/content}}
{{/extend}}