<div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
  <div class="page-content vertical-align-middle">
    <div class="panel">
      <div class="panel-body">
        <div class="brand">
          <h2 class="brand-text font-size-18">Se ha enviado un correo</h2>
        </div>
        <p>Sigue las instrucciones en el correo que te enviamos para recuperar la contraseña de tu cuenta.</p>
      </div>
    </div>
  </div>
</div>
