<div class="page vertical-align text-xs-center">
  <div class="page-content">
    <div class="panel">
      <div class="panel-body">
        <div class="brand">
          <h2 class="brand-text font-size-18">Recuperar contraseña olvidada</h2>
        </div>
        <form method="post" action="#">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">

          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="email" class="form-control" name="email" />
            <label class="floating-label">Ingresa tu email</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
