<div class="page">
    <div class="page-content padding-30 container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tareas del día</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group list-group-dividered list-group-full h-300" data-plugin="scrollable">
                            <div data-role="container">
                                <div data-role="content">
                                  {{#if tareas}}
                                  {{#each tareas}}
                                    <li class="list-group-item justify-content-between">
                                        <div class="checkbox-custom checkbox-success checkbox-lg">
                                          <input type="checkbox" name="checkbox" {{#if finalizado}}checked{{/if}} class="check-ajax" data-id="{{_id}}">
                                          <label class="item-title">
                                            <a href="/admin/proyectos/{{proyecto_id}}">{{titulo}}</a><br>
                                            <small><b>Descripción:</b> {{descripcion}}</small><br>
                                            <small>{{dateTime fecha_inicio}} - {{dateTime fecha_fin}}</small>
                                          </label>
                                        </div>
                                    </li>
                                  {{/each}}
                                  {{else}}
                                    No hay tareas para hoy.
                                  {{/if}}
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel bg-blue-600 white">
                    <div class="panel-body">
                      <div class="countdown">
                        <p>Próximas elecciones en:</p>
                        <div class="countdown-container" id="main-countdown"></div>
                      </div>
                      
                      <h3 class="mb-0 white">
                        Potencial Electoral esperado
                        <span class="potencial-numero">{{totales.potencial_esperado}}</span>
                      </h3>
                      <p>Total de votos esperados de los Personajes registrados</p>
                      <hr>
                      <h3 class="mb-0 mt-15 white">
                        Potencial Electoral declarado
                        <span class="potencial-numero">{{totales.potencial_declarado}}</span>
                      </h3>
                      <p>Total de votos declarados porlos Personajes registrados</p>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Próximos cumpleaños</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group list-group-dividered list-group-full h-300" data-plugin="scrollable">
                            <div data-role="container">
                                <div data-role="content">
                                  {{#if personajes_cumple}}
                                  {{#each personajes_cumple}}
                                    <li class="list-group-item justify-content-between">
                                        <div class="item-title">
                                          <small><b>{{_id.day}}/{{_id.month}}</b></small>
                                        </div>
                                    </li>
                                    {{#each personajes}}
                                      <li class="list-group-item justify-content-between">
                                          <div class="item-title">
                                            <a href="/admin/personajes/{{_id}}">{{nombre}}</a>
                                          </div>
                                      </li>
                                    {{/each}}
                                  {{/each}}
                                  {{else}}
                                    No hay cumpleaños en los próximos 7 días.
                                  {{/if}}
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Actividad Reciente</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group list-group-dividered list-group-full h-300" data-plugin="scrollable">
                            <div data-role="container">
                                <div data-role="content">
                                  {{#if logs}}
                                  {{#each logs}}
                                    <li class="list-group-item justify-content-between">
                                        <div>
                                            {{#ifCond model '==' 'Comentario'}}
                                              <a href="/admin/{{path}}/{{document._id}}">
                                                Dejó un comentario en {{document.nombre}}.
                                              </a>
                                            {{/ifCond}}
                                            {{#ifCond model '==' 'Upload'}}
                                              <a href="/admin/{{path}}/{{document._id}}">
                                                Subio un archivo.
                                              </a>
                                            {{/ifCond}}
                                            {{#ifCond model '==' 'HojaDeVida'}}
                                              {{#ifCond type '==' 'UPDATE'}}
                                                Actualizó una Hoja de Vida
                                              {{else}}
                                                Agregó una hoja de vida
                                              {{/ifCond}}
                                            {{/ifCond}}
                                            {{#ifCond model '==' 'Localidad'}}
                                              {{#ifCond type '==' 'UPDATE'}}
                                                Actualizó una Localidad
                                              {{else}}
                                                Agregó una Localidad
                                              {{/ifCond}}
                                            {{/ifCond}}
                                            {{#ifCond model '==' 'Personaje'}}
                                              <a href="/admin/personajes/{{document._id}}">
                                                {{#ifCond type '==' 'UPDATE'}}
                                                  Actualizó a {{document.nombre}}
                                                {{else}}
                                                  Agregó a {{document.nombre}}
                                                {{/ifCond}}
                                              </a>
                                            {{/ifCond}}
                                            {{#ifCond model '==' 'Proyecto'}}
                                              <a href="/admin/proyectos/{{document._id}}">
                                                {{#ifCond type '==' 'UPDATE'}}
                                                  Actualizó un Proyecto
                                                {{else}}
                                                  Agregó un Proyecto
                                                {{/ifCond}}
                                              </a>
                                            {{/ifCond}}
                                            {{#ifCond model '==' 'Organizacion'}}
                                              {{#ifCond type '==' 'UPDATE'}}
                                                Actualizó una Organización
                                              {{else}}
                                                Agregó una Organización
                                              {{/ifCond}}
                                            {{/ifCond}}
                                            <br>
                                            <small>Por {{user.name}} <time data-livestamp="{{createdAt}}"></time></small>
                                        </div>
                                        {{#ifCond type '==' 'UPDATE'}}
                                          <small class="badge badge-round badge-info float-right">Actualización</small>
                                        {{else}}
                                          <small class="badge badge-round badge-success float-right">Nuevo</small>
                                        {{/ifCond}}
                                    </li>
                                    {{/each}}
                                    {{else}}
                                      <p>Aún no hay actividad registrada</p>
                                    {{/if}}
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script type="text/template" id="countdown-template">
<div class="time <%= label %>">
  <span class="count curr top"><%= curr %></span>
  <span class="count next top"><%= next %></span>
  <span class="count next bottom"><%= next %></span>
  <span class="count curr bottom"><%= curr %></span>
  <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
</div>
</script>
{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/css/team.min.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="/assets/vendor/jquery-countdown/jquery-countdown.min.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script src="/js/home_view.js"></script>
{{/contentFor}}
