<div class="page vertical-align text-xs-center">
  
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
    <div class="page-content">
                <div class="panel">
                    <div class="panel-body">
                        <div class="brand">
                            <h2 class="brand-text font-size-18">Iniciar Sesión</h2>
                        </div>
                        <form method="post" action="#">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">

                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <input type="email" class="form-control" name="email" />
                                <label class="floating-label">Email</label>
                            </div>
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <input type="password" class="form-control" name="password" />
                                <label class="floating-label">Contraseña</label>
                            </div>
                            <div class="form-group clearfix">
                                <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg pull-xs-left">
                                    <input type="checkbox" id="inputCheckbox" name="remember">
                                    <label for="inputCheckbox">Recordarme</label>
                                </div>
                            </div>
                            <br><br>
                            <a href="/forgot">Olvidaste la contraseña?</a>
                            <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>