<div class="page vertical-align text-xs-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
  <div class="page-content vertical-align-middle">
    <div class="panel">
      <div class="panel-body">
        <div class="brand">
          <h2 class="brand-text font-size-18">Define una contraseña nueva</h2>
        </div>
        <form method="post" action="#">
          <input type="hidden" name="_csrf" value="{{csrfToken}}">

          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="password" class="form-control" name="password" />
            <label class="floating-label">Nueva Contraseña</label>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="password" class="form-control" name="confirm" />
            <label class="floating-label">Confirmar Contraseña</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block btn-lg m-t-40">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>
