<div class="page">
    <div class="page-header">
        <h1 class="page-title">Resultados de la búsqueda</h1>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <h3>Personajes:</h3>
        <div class="panel">
            {{#if personajes}}
                 <table class="table">
                    <thead>
                        <tr>
                            <th>Personaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each personajes}}
                        <tr>
                            <td><a href="/admin/personajes/{{_id}}">{{nombre}}</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                No se encontraron resultados.
            {{/if}}
        </div>

        <h3>Comentarios:</h3>
        <div class="panel">
            {{#if comentarios}}
                 <table class="table">
                    <thead>
                        <tr>
                            <th>Comentarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each comentarios}}
                        <tr>
                            <td><a href="/admin/{{getModelPath model}}/{{referencia}}">{{comentario}}</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                No se encontraron resultados.
            {{/if}}
        </div>

        <h3>Organizaciones:</h3>
        <div class="panel">
            {{#if organizaciones}}
                 <table class="table">
                    <thead>
                        <tr>
                            <th>Organizaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each organizaciones}}
                        <tr>
                            <td><a href="/admin/organizaciones/{{_id}}">{{nombre}}</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                No se encontraron resultados.
            {{/if}}
        </div>

        <h3>Ofertas:</h3>
        <div class="panel">
            {{#if ofertas}}
                 <table class="table">
                    <thead>
                        <tr>
                            <th>Ofertas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each ofertas}}
                        <tr>
                            <td><a href="/admin/ofertas/{{_id}}">{{descripcion}}</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                No se encontraron resultados.
            {{/if}}
        </div>

        <h3>Proyectos:</h3>
        <div class="panel">
            {{#if proyectos}}
                 <table class="table">
                    <thead>
                        <tr>
                            <th>Proyectos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each proyectos}}
                        <tr>
                            <td><a href="/admin/proyectos/{{_id}}">{{titulo}}</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                No se encontraron resultados.
            {{/if}}
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
<script src="/js/select2.js"></script>
<script src="/js/search_list.js"></script>
{{/contentFor}}
