.columna {
  margin-bottom: 20px;
}

.columna .columna-contenido {
  height: 500px;
  overflow: auto;
}

.columna > div {
    background: #e6e6e6;
    border-radius: 3px;
    padding: 10px;
}

.tarea {
    background: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px #c7c7c7;
    padding: 10px;
}

.tarea.expired {
    background: #ff6e6e;
    color: #fff;
}

.tarea.expired a {
  color: #333 !important;
}

.tarea .btn {
  margin-top: -27px;
  padding: 3px 10px;
}

.tarea-highlight {
  width: 100%;
  background: #eaeaea;
  border: 1px dashed #333;
  border-radius: 4px;
  height: 80px;
  margin-bottom: 10px;
}