.node {
   cursor:default;
}
.node text {
    font: 12px sans-serif;
    fill: #FFFFFF;
}

.node rect {

}

/* Lines */
.link {
  fill: none;
  stroke: #424242;
  stroke-width: 1.5px;
}

#arbol {
    cursor: move;
    height: 700px;
    width: 100%;
    background-color: #fff;
    border: 1px solid black;
    margin: 0 0 10px 0;
}