<p>Se ha creado una tarea y ha sido asignada a tu usuario, para ver el proyecto da click en el siguiente link.</p>
<a href="http://bogotasoyyo.co/admin/proyectos/{{proyecto_id}}">Ver Proyecto</a>
<img src="http://bogotasoyyo.co/api/seen/tarea/{{_id}}.png">