---
title: TaskBoard
body_class: app-taskboard
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{assets}}/vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="{{assets}}/vendor/jquery-selective/jquery-selective.css">
    <link rel="stylesheet" href="{{assets}}/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" href="{{assets}}/vendor/bootstrap-markdown/bootstrap-markdown.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/apps/taskboard.css">
  {{/content}}


  {{#content "fonts" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/fonts/font-awesome/font-awesome.css">
  {{/content}}

  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{assets}}/vendor/bootstrap-select/bootstrap-select.js"></script>
    <script src="{{assets}}/vendor/jquery-selective/jquery-selective.js"></script>
    <script src="{{assets}}/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="{{assets}}/vendor/bootstrap-markdown/bootstrap-markdown.js"></script>
    <script src="{{assets}}/vendor/bootbox/bootbox.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Plugin/bootstrap-select.js"></script>
    <script src="{{assets}}/js/Plugin/bootstrap-datepicker.js"></script>
    <script src="{{assets}}/js/Plugin/bootbox.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/BaseApp.js"></script>
    <script src="{{assets}}/js/App/Taskboard.js"></script>
  {{/content}}

  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/apps/taskboard.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <div class="page-header">
        <h1 class="page-title">TaskBoard</h1>
      </div>

      <div class="page-content">
        <ul class="taskboard-stages" id="taskboardStages"></ul>
      </div>
    </div>
    <button class="site-action site-floataction btn-raised btn btn-success btn-floating"
      type="button" data-toggle="modal" data-target="#addStageFrom">
      <i class="icon wb-plus" aria-hidden="true"></i>
    </button>
    <div class="modal fade" id="addStageFrom" aria-hidden="true" aria-labelledby="addStageFrom"
      role="dialog" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true" data-dismiss="modal">×</button>
            <h4 class="modal-title">Create New Group</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post" role="form">
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Stage Name">
              </div>
            </form>
          </div>
          <div class="modal-footer text-left">
            <button id="taskboardStageCreat" class="btn btn-primary" data-dismiss="modal" type="button">Creat</button>
            <a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:void(0)">Cancel</a>
          </div>
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}