<div class="page">
    <div class="page-header">
        <h1 class="page-title">Localidades
        <span class="pull-right">
          <a href="localidades/new" class="btn btn-default">Agregar localidad</a>
        </span>
      </h1>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">

                <form class="page-search-form" role="search" method="POST">
                    <div class="input-search input-search-dark">
                        <i class="input-search-icon wb-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Buscar localidad">
                        <button type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
                    </div>
                </form>
                
                <br><br><br>

        <svg class="maps" id="map" viewBox="0,0,410,600">
          <g class="loc-maps" id="city-map" transform="translate(60,0) rotate(0)">
            <path class="loc-map" id="map-usaquen" d="M291.725,14.26c-1.352,0.774-4.751,1.747-6.729,0.888l-35.413,210.524 c2.145,0.386,4.632,0.728,7.834,1.071c8.092,0.866,23.263,9.643,26.546,11.598c1.384-1.101,2.789-2.166,4.131-3.232 c2.368-1.88,4.861-2.67,7.812-2.657c1.063,0.004,1.987,0.543,3.013,0.476c1.719-0.114,1.337-1.022,1.241-2.669 c-0.477-0.307-0.827-0.729-1.101-1.132c1.098-2.001,1.86-2.999,1.74-5.386c-0.185-0.033-0.404-0.039-0.59-0.044 c0.086-0.453,0.735-0.685,0.783-0.877c0.124-0.492,0.121-1.048,0.147-1.637c0.05-1.128-0.014-2.21,0.182-3.304 c0.565,0.021,1.054-0.097,1.535-0.37c0.064-0.921-0.058-1.865,0.203-2.772c-1.655,0.648-2.562-0.656-3.069-1.96 c-0.881-2.255-2.189-3.813-2.043-6.37c0.117-2.01,0.831-5.045,2.593-6.287c1.057-0.744,2.662-0.487,3.645-1.421 c1.127-1.068,1.127-2.675,1.056-4.145c-0.882-0.249-1.97-0.344-2.799,0.127c0-0.283-0.229-0.605-0.216-0.919 c-2.6,0.446,0.027-9.403,0.365-10.791c1.487-0.302,2.3-0.292,2.674-1.803c0.313-1.256,0.043-3.103-0.024-4.383 c-0.436,0.068-0.816-0.218-1.222-0.21c-0.35-2.147-0.109-4.175-0.002-6.294c0.588-0.008,1.217-0.093,1.7-0.382 c-0.585-0.938-0.252-2.342-0.294-3.45c-0.051-1.323-0.549-2.149-0.832-3.169c-0.695-2.511-0.466-5,2.396-5.264 c0.137-2.704,0.166-4.071,3.007-4.398c0.608,2.553,4.083,0.353,5.722,0.643c0.479,0.084-0.236,3.085,2,2.375 c1.562-0.497,1.329-2.228,1.354-3.514c0.03-1.722-0.324-2.105-1.861-2.813c-1.768-0.814-2.465-0.676-3.566-2.256 c-0.906-1.301-1.947-2.235-2.662-3.665c-1.7-3.42-1.113-8.051-1.113-11.892c0-2.933,0.557-6.36-0.663-9.016 c-0.354,0.077-0.857-0.123-1.217-0.053c-0.203-2.231-1.357-4.558-1.732-6.925c-0.188-1.179-0.137-2.39-0.517-3.523 c-0.448-1.334-0.753-1.112-1.745-1.943c-1.951-1.635-1.463-4.208-1.584-6.585c-0.136-2.692-0.006-5.445-0.34-8.103 c-2.793-1.185-5.528,0.231-6.005-3.678c-0.158-1.297-0.463-3.268-0.158-4.572c0.337-1.458,1.453-1.943,1.595-3.566 c0.212-2.42,0.228-4.982,0.15-7.411c-0.026-0.811,0.13-2.357-0.307-3.019c-0.622-0.945-1.822-0.414-2.402-1.1 c-0.266-0.313-0.682-2.402-0.783-2.896c-0.293-1.441,0.079-3.124,0.01-4.601c-0.045-0.954,0.098-2.536-0.163-3.463 c-0.246-0.87-1.047-1.466-1.3-2.35c-1.175-0.177-1.994-1.984-2.668-2.879c-0.907-1.213-2.027-2.3-2.979-3.486 c-1.782-2.221-1.785-4.822-1.785-7.624c0-3.304,0.099-6.369,0.988-9.487c0.253-0.89,0.563-2.831,1.226-3.522 c1.01-1.055,2.806-0.795,4.164-0.793c2.996,0.002,5.999-0.254,8.83-0.817c0.098-1.951,0.81-4.945-1.126-6.129 c-1.137-0.695-4.46-0.158-3.903,1.685c0.313-0.046,0.756,0.12,1.061,0.048c0.013-0.019,0.003,0.432,0,0.43 c-0.826,0.083-1.412,0.914-2.346,1.138c-1.118,0.271-2.377-0.036-3.475,0.297c-0.052-2.83-0.296-5.702-0.025-8.552 c0.103-1.063-0.183-2.891,0.627-3.688c0.682-0.672,2.494-0.571,3.342-0.754c1.677-0.36,1.928-0.371,2.185-2.187 c0.2-1.422,0.441-3.253-0.908-4.009c-0.649-0.366-4.025-0.45-4.613-0.031C290.077,10.21,291.25,13.001,291.725,14.26z"></path><path class="loc-map" id="map-chapinero" d="M257.279,228.006c-3.228-0.345-5.738-0.69-7.908-1.08l-8.535,50.733c-0.416,1.88-1.055,3.728-1.792,5.865 c-1.27,3.677-2.849,8.254-4.221,15.456c-0.98,5.144-1.64,10.037-2.223,14.356c-0.567,4.217-1.084,7.976-1.775,11.293l16.229,6.329 c0.884-0.828,1.172-1.997,1.605-3.115c0.386-0.983,0.927-1.84,1.435-2.857c1.01-2.019,0.979-4.783-1.924-3.979 c0.012,0.23-0.075,0.521-0.048,0.747c-1.584-0.32-5.013-1.962-5.531-3.781c-0.313-1.098,0.802-2.561,1.231-3.492 c0.986-2.139,3.199-3.341,3.978-5.718c0.405-1.242-0.836-1.94,0.07-2.971c1.06-1.206,2.319,0.21,3.42-0.222 c0.635-0.249,2.202-2.066,2.889-2.547c1.562-1.099,1.385-1.396,1.109-3.144c-0.159-1.006-0.169-3.405,0.785-4.097 c0.97-0.705,2.705-0.484,3.806-1.306c0.768-0.573,0.673-0.141,1.071-1.401c0.702-2.222,0.361-4.165,0.409-6.409 c0.061-2.902,0.417-5.812,0.746-8.694c0.281-2.479,0.369-5.628,1.786-7.724c1.059-1.562,3.017-2.455,3.966-3.966 c1.017-1.611-0.226-5.111,2.948-4.828c0.799-1.963,0.553-4.246,1.326-6.133c0.888-0.103,1.537-0.665,2.353-0.82 c0.813-0.156,1.876,0.215,2.573-0.273c1.337-0.939,1.145-4.375,0.733-5.889c0.041,0.147-1.039-0.058-1.199-0.264 c-0.325-0.416,0.154-1.197,0.276-1.589c0.393-1.259,1.063-2.472,1.931-3.438c1.19-1.331,2.55-2.559,3.961-3.729 C280.499,237.948,265.304,228.867,257.279,228.006z"></path><path class="loc-map" id="map-santa-fe" d="M245.566,331.739l-15.033-5.859c-0.121,0.517-0.23,1.062-0.364,1.555 c-1.867,6.935-10.91,22.09-17.859,31.356c-5.117,6.823-11.114,14.37-13.463,17.309c7.737,4.855,17.216,17.592,18.041,18.71 l6.798,5.937c0.169-0.104,0.339-0.205,0.502-0.313c1.646-1.063,2.573-2.93,3.618-4.561c1.651-2.571,3.818-5.901,6.063-8.122 c1.028-1.019,2.179-1.887,3.21-2.947c1.197-1.231,1.136-2.107,1.229-3.89c0.176-3.402-0.828-5.781-1.45-8.97 c-2.03-0.089-0.729-1.948-0.919-3.209c-0.064-0.429-0.259-0.683-0.373-0.966l-2.173,1.002l-1.331,8.879l-4.49,0.942l-4.416,2.79 l-13.813-8.896l8.298-13.517l4.83,2.174l5.76,1.028l4.774-4.338l8.781-0.21c-0.182-0.312-0.375-0.631-0.583-0.978 c-0.776-1.298-1.007-2.76-1.621-4.086c-0.441-0.952-0.963-2.481-1.634-3.297c-1.012-1.226-2.332-0.324-3.451-1.258 c-1.284-1.07-0.253-2.161-2.227-2.577c-1.753-0.37-2.375-0.241-2.188-2.521c1.609,0.08,3.226-0.345,4.895-0.342 c0.988,0,4.089,0.037,4.689-0.577c0.484-0.494,0.582-2.446,0.823-3.152c0.396-1.161,0.904-2.274,1.589-3.296 c0.559-0.832,0.977-2.104,1.619-2.813C244.186,332.19,244.882,331.976,245.566,331.739z"></path><path class="loc-map" id="map-san-cristobal" d="M215.901,395.615c-0.087-0.121-5.667-7.682-11.668-13.499l-32.115,39.524l6.88,12.191l-2.271,14.179 l0.51-0.341l11.239,16.53l1.871,29.6l5.588-1.064c-0.541-2.203,3.611-1.32,4.259-2.339c0.573-0.904-0.378-2.637,0.026-3.622 c0.504-1.229,1.314-0.901,2.522-0.967c0.642-3.343,2.56-8.399,6.187-9.521c0.165-3.168,0.68-5.028,2.665-7.579 c1.65-2.129,3.6-4.19,3.707-7.041c0.079-2.078,0.352-3.93,0.756-5.936c0.355-1.792,1.07-3.465,1.431-5.248 c0.244-1.218,0.23-2.571,0.647-3.641c-1.261-1.443-1.709-3.311-2.955-4.813c-1.266-1.52-2.873-2.944-3.96-4.625 c-0.682-1.057-0.669-1.385-0.476-2.341c0.172-0.855,0.446-2.06,0.75-2.854c0.76-1.977,2.889-2.948,3.326-5.029 c0.539-2.564,0.265-5.852,0.166-8.467c-0.063-1.619-0.501-3.91,1.581-4.288c0.735-0.132,1.715,0.244,2.348,0.598 c0.226,0.123,2.008,1.107,2.109,1.264c0.459,0.716-0.044,3.448,0.013,4.467c1.868,0.092,5.452,0.089,6.838-1.207 c0.955-0.892,0.906-3.236,0.913-4.64c0.01-1.703-0.301-2.047-1.778-2.816c-1.616-0.842-1.625-0.162-3.136-0.036 c-0.691,0.058-2.882-0.455-3.464-0.838c-0.647-0.423-2.5-3.69-2.395-4.398c0.421-2.705,2.377-4.069,4.416-5.311L215.901,395.615z"></path><path class="loc-map" id="map-usme" d="M144.104,584.723c0.677-0.638,0.715-1.772,1.715-2.229c1.215-0.553,4.229-0.146,5.703-0.07 c1.25,0.063,1.778,0.184,2.379-0.762c0.98-1.547,0.713-3.58,1.715-5.145c1.048-1.634,2.752-2.76,4.156-4.056 c2.176-2.007,5.354-3.839,7.181-6.147c0.877-1.111-0.012-1.733,1.192-2.618c1.137-0.832,2.835-0.627,4.003-1.42 c1.076-0.729,1.136-2.313,2.046-3.15c0.305-0.278,1.062-0.366,1.463-0.592c0.266-0.148,0.028-0.478,0.339-0.628 c0.734-0.355,1.942-0.281,2.816-0.234c1.017,0.053,1.586,0.099,2.422,0.668c0.843,0.573,1.121,1.226,2.18,1.428 c1.687,0.322,3.9-0.018,5.501-0.595c2.705-0.975,0.87-2.412-0.069-4.316c-0.899-1.826-0.773-4.373-0.682-6.354 c0.149-3.205-0.377-7.674,1.398-10.343c0.334-0.503,0.746-0.929,1.11-1.402c0.417-0.537,0.554-0.883,0.943-1.458 c1.218-1.798,2.313-1.188,4.163-1.904c1.208-0.469,1.694-1.344,2.992-1.424c1.021-0.064,0.398,0.159,1.138,0.514 c0.507,0.246,1.061,0.426,1.75,0.469c1.776,0.109,5.867,0.939,6.53-1.343c0.477-1.637-2.437-4.657,0.087-5.483 c1.572-0.514,2.138,0.279,2.776-1.413c0.566-1.494,0.211-4.37,0.095-6.009c-1.579-0.634-3.168-0.424-4.893-0.348 c-1.037,0.046-3.535,0.45-4.442,0.004c-1.164-0.571-0.941-2.661-0.824-3.814c0.042-0.422,0.057-1.688,0.33-1.948 c0.416-0.396,1.782-0.396,2.374-0.772c0.102-1.101-0.25-2.052-0.153-3.129c-3.896,2.101-4.578-4.729-4.578-7.025 c0-2.059,0.136-4.153,0.159-6.161c0.012-1.012-0.192-1.533-0.605-1.822l-9.344,1.627l-1.937-30.69l-10.339-15.203l-0.44,0.292 l-0.032,0.2l-0.216-0.035l-1.191,0.797l6.822,14.663l-10.988-4.76l-18.518-3.513l-6.188-5.878l-5.53,2.212l2.213,24l-8.338,6.178 l4.841,6.351l-2.853,27.246l8.804,9.119l0.039,0.173c0.234,1.042,5.497,25.272-9.247,31.865c-0.139,0.062-2.647,0.848-4.469,1.42 c-1.551,1.222-3.024,2.705-2.895,4.329c0.222,2.723,0.795,5.495,1.073,8.215c0.212,2.084,0.43,4.099,1.634,5.84 c1.744,2.519,3.796,3.687,4.105,6.993c2.045-0.092,3.861,0.445,6.005,0.342C142.515,585.424,143.358,585.422,144.104,584.723z"></path><path class="loc-map" id="map-tunjuelito" d="M106.511,404.083 126.264,427.724 131.209,442.873 138.891,443.514 140.426,452.113 145.666,450.018 146.279,432.243 138.047,420.752 132.97,396.318 130.587,386.44 136.099,385.792 135.523,375.766 119.873,372.389 102.785,371.743 102.783,371.74 96.844,371.456 91.49,381.865z"></path><path class="loc-map" id="map-bosa" d="M82.052,370.164l14.324-7.015l-15.438-8.74l-15.014,9.583l-8.775-8.437l-0.946-8.513l-10.712-7.609 l-4.144-6.028l9.501-0.353l7.393-6.21l-16.1-34.41l3.033-6.775c0.029-0.564,0.021-1.104-0.137-1.291 c-0.472-0.562-1.828-0.3-2.396-0.47c-0.405-0.12-0.391-0.529-0.913-0.673c-0.396-0.109-1.137,0.141-1.588,0.157 c-2.142,0.079-2.271-0.176-2.689-2.012c-0.258-1.133-0.667-2.75-1.593-3.544c-1.017-0.873-2.645-0.445-3.61,0.318 c-1.398,1.104-2.644,3.02-3.97,4.285c-1.524,1.456-2.849,2.949-4.319,4.443c-1.167,1.187-2.319,2.449-3.851,3.134 c-1.46,0.651-3.185,0.591-4.841,0.832c-1.043,0.152-2.769,0.146-3.368,1.106c-0.796,1.273-0.34,4.202-0.473,5.686 c-0.042,0.471,0.001,0.969-0.024,1.437c-2.455,0.125-8.455-1.66-10.426,0.18c-1.062,0.991-0.607,3.721-0.687,5.081 c-0.129,2.18-0.289,4.36-0.288,6.546c0.005,5.63,0.405,10.997,0.947,16.577c0.369,3.788,0.322,7.596,0.322,11.424 c0,2.733-0.799,6.857,0.484,9.071c1.493,2.57,2.87,5.884,5.263,7.746c1.526,1.188,2.984,1.111,4.598,1.738 c1.866,0.726,2.572,2.745,4.208,3.739c5.6,3.408,12.511,4.715,18.924,5.51c2.448,0.305,4.907,0.668,7.297,1.121 c1.024,0.191,1.569,0.461,1.985,0.821L82.052,370.164z"></path><path class="loc-map" id="map-kennedy" d="M56.166,279.253c-1.243,1.034-2.047,2.774-3.212,3.963c-1.566,1.598-4.636,3.782-7.019,3.809l-2.399,5.396 l16.267,34.768l-8.473,7.116l-7.634,0.284l2.773,4.032l10.929,7.716l0.958,8.622l7.725,7.429l14.814-9.456l17.279,9.78 l5.298,7.791l16.163,0.608c1.715-2.31,13.948-18.844,16.561-24.07c1.216-2.43,3.181-9.125,5.263-16.216 c2.832-9.645,5.761-19.616,7.792-22.572c0.554-0.806,1.454-1.963,2.63-3.405l-9.264-6.275l-3.778-7.557l-8.856-3.795 l-14.085-22.853l-6.419,3.056l-8.97-4.163l-8.157,1.568l-5.625-1.112c-1.454,0.744-3.914,1.203-4.709,1.85 c-1.187,0.965-0.575,2.133-0.979,3.343c-0.545,1.632-4.364,1.974-6.133,2.444c0.075,0.173,0.044,0.603,0.119,0.777 c-0.514,0.229-1.247,0.234-1.729,0.452c-0.524,0.237-0.636,0.767-1.257,0.973c-1.602,0.527-3.602,0.218-5.245,0.825 c-1.286,0.476-2.48,0.933-3.808,1.353c-1.588,0.502-2.001,1.447-3.363,2.222C58.579,278.551,57.189,278.403,56.166,279.253z"></path><path class="loc-map" id="map-fontibon" d="M87.808,262.639l4.521,0.901l8.344-1.604l8.8,4.085l6.908-3.289l14.473,23.479l8.915,3.821l3.837,7.674 l9.084,6.157c2.396-2.9,5.688-6.738,9.465-11.141c3.89-4.532,8.35-9.732,12.648-14.877l-34.439-48.659l9.055-8.119l-63.488-48.888 c1.369,3.182,5.163,5.055,5.662,8.608c0.403,2.879,3.184,8.33-0.624,10.101c-1.613,0.749-3.945,0.731-5.717,1.481 c-1.556,0.657-2.528,1.405-3.791,2.169c-1.634,0.987-3.08,0.542-4.864,0.988c-1.237,0.31-2.349,1.043-3.583,1.319 c-1.221,0.271-2.261-0.077-3.438,0.029c-2.455,0.221-5.945,1.497-7.792,3.146c-0.74,0.661-2.592,2.243-1.768,3.405 c0.67,0.946,3.016,0.061,3.87-0.068c2.45-0.371,6.647-1.243,7.364,1.702c0.884,3.635-2.324,3.211-5.002,3.618 c0.095,0.402-0.162,1.021-0.063,1.423c-1.653,0.219-0.624,2.593,0.845,2.391c0.666,2.441-0.35,4.922,1.032,7.372 c0.983,1.747,1.006,0.865,2.595,1.692c3.142,1.637,0.188,5.215-1.558,6.695c-1.786,1.515-3.633,2.963-5.144,4.705 c-0.705,0.813-1.482,1.814-2.037,2.689c-0.619,0.977-0.442,2.393-0.389,3.564c0.097,2.089,0.896,6.527,3.962,5.563 c0.739-0.232,0.748-0.476,0.713-1.252c0.744-0.044,1.335-0.007,2.008-0.323c0.084-1.059-0.521-1.546,0.496-1.826 c0.936-0.259,2.116-0.016,3.085-0.213c0.994-0.205,3.504-1.388,4.182-0.836c0.087,0.351-0.016,0.927,0.128,1.244 c0.31,0.683,0.873,0.598,1.352,0.973c0.252,0.198,0.306,0.612,0.595,0.754c0.322,0.158,0.882-0.031,1.24,0.021 c1.604,0.231,1.314,1.604,1.38,3.007c0.033,0.738,0.415,2.63-0.311,3.135c-0.524,0.364-2.028,0.074-2.65,0.067 c-0.975-0.009-1.944-0.105-2.884-0.359c-1.519-0.406-2.919-0.5-4.482-0.201c-0.717,0.137-2.705,0.317-1.927,1.537 c0.367,0.575,1.926,0.695,2.53,1.134c1.226,0.887,1.998,2.096,3.371,2.857c1.004,0.557,2.032,1.189,3.127,1.435 c0.947,0.212,1.759,0.261,2.715,0.558c0.717,0.224,1.462,0.031,2.144,0.213c0.46,0.123,0.909,0.559,1.361,0.763 c0.413,0.185,0.868,0.205,1.254,0.479c0.437,0.311,0.353,0.524,0.705,0.879c0.683,0.689,1.257,0.158,1.65,1.012 c0.162,0.352,0.071,0.867,0.141,1.241c0.086,0.448,0.378,0.911,0.417,1.353C87.836,262.496,87.821,262.567,87.808,262.639z"></path><path class="loc-map" id="map-engativa" d="M85.46,170.214l65.943,50.778l-9.35,8.382l33.593,47.461c2.549-3.062,5.024-6.087,7.268-8.92 c9.783-12.356,27.149-33.513,33.729-40.277l-0.223-0.028c0.004-0.037,0.437-4.606-6.801-11.844 c-7.989-7.989-9.126-13.669-10.327-19.681c-1.004-5.017-37.438-39.626-51.657-52.79l-14.443,0.602 c1.421,2.016,2.502,4.949,1.391,5.349c0.157,3.503,4.717,5.79,4.57,9.694c-0.087,2.31-1.553,2.815-3.179,1.475 c-0.673-0.555-0.511-1.427-1.425-1.856c-2.193-1.03-5.469,0.867-7.644,1.195c-3.136,0.472-6.338,0.244-9.495,0.244 c-2.371,0-4.588,0.16-6.769,0.841c-0.888,0.277-5.435,3.312-2.354,3.215c-0.325,1.139-1.314,0.904-2.097,1.657 c-0.729,0.7-1.021,1.965-1.841,2.596c-1.588,1.217-4.404,0.917-6.399,1.207c-2.183,0.317-4.562,0.715-5.978-0.789 c-0.94-1.001-0.42-1.615-2.058-1.962c-0.938-0.199-2.202,0.317-3.146,0.458c-0.063,0.614-0.421,1.017-0.484,1.631 c-0.252,0-0.532,0.05-0.784,0.063C85.434,169.375,85.434,169.801,85.46,170.214z"></path><path class="loc-map" id="map-suba" d="M148.109,142.004l0.193,0.179c2.078,1.925,50.937,47.178,52.231,53.652 c1.164,5.818,2.263,11.314,9.98,19.033c5.696,5.696,6.899,9.875,7.126,11.773c0.608-0.583,1.072-0.969,1.345-1.104 c2.72-1.359,14.642-4.519,20.476-2.573c3.222,1.074,5.719,1.839,8.872,2.471l35.599-211.16c-0.029-0.047-0.069-0.084-0.095-0.134 c-1.561-2.805,2.455-6.554-0.346-9.27c-2.006-1.945-5.856-0.053-8.1,0.476c-0.703-1.015-1.333-1.782-1.701-2.796 c-0.416-1.14,0.091-1.373-1.103-2.063c-1.922-1.108-3.458-0.272-3.364,1.881c-2.657-0.188-5.395-0.035-8.067-0.301 c-1.098-0.109-3.069-0.307-4.124,0.007c-1.782,0.532-1.036,2.195-0.948,3.971c0.094,1.9-0.141,3.836,0.189,5.706 c0.238,1.359,0.776,2.789,0.009,4.134c-0.565,0.992-2.238,1.779-3.379,1.266c-1.217-0.548-0.901-2.015-1.541-3.018 c-1.698-2.665-1.066,2.163-1.063,2.834c0.004,1.923-0.858,4.377,0.169,6.165c0.667,1.156,3.513,1.08,4.882,1.471 c2.908,0.832,5.32,2.779,8.197,3.808c1.58,0.565,3.742,0.337,5.093,1.313c-0.238,0.224-0.435,1.025-0.578,1.19 c2.669,1.389,5.146,0.788,6.101,4.055c1.17,4.004-1.79,5.516-3.421,8.646c-3.778-0.938-6.572,0.128-9.24,2.932 c0.87,0.862,1.507,2.027,1.624,3.277c0.104,0.099-3.213-0.052-4.018-0.206c-1.662-0.318-3.305-0.234-5.001-0.279 c-0.824-0.022,1.162,10.567,1.033,11.224c-0.432,2.138-2.927,3.888-3.155,6.32c0.195,0.062,0.377,0.023,0.578,0.063 c0.047,1.34-2.089,2.928-2.769,4.2c-0.587,1.098-1.122,2.313-1.856,3.332c-0.976,1.355-2.449,2.176-3.342,3.599 c-0.739,1.175-2.672,3.783-2.958,5.128c-0.36,1.688,0.978,2.936,0.8,4.855c-0.188,2.037-0.656,0.965-1.28,1.904 c-0.4,0.604-0.595,1.426-1.102,2.071c-0.649,0.827-2.438,2.076-3.378,3.01c-1.759,1.748-3.374,3.867-5.029,5.549 c-1.768,1.796-3.805,3.361-5.513,5.23c-1.648,1.807-2.41,4.164-4.726,5.244c-1.862,0.871-4.157,0.789-6.154,0.773 c-2.234-0.017-9.578-1.23-10.084,2.218c-2.59,0.127-5.148,0.344-7.762,0.211c0.371-2.924-10.063-1.683-11.637-2.754 c0.487-2.423-4.796-4.593-6.799-4.994c-3.046-0.608-6.103-0.282-9.067,0.625c-0.161,2.649-5.103,3.703-7.012,3.089 c-1.948-0.626-5.793-4.054-7.656-3.853c-1.325,0.144-4.628,3.586-5.296,4.741c-0.567,0.983-1.571,2.485-1.603,3.555 c-0.025,0.864,0.604,2.311,0.624,3.4c0.253,0.004,0.542,0.073,0.793,0.075c-1.353,2.309-5.416,2.209-7.224,3.971 c-0.938,0.915-4.777,6.928-1.249,6.383c0.056,1.089,0.06,2.23,0,3.321c0.018-0.298-5.336,1.438-5.783,1.641 c-1.676,0.762-4.029,1.997-4.983,3.685c-0.768,1.361-0.364,1.026-0.2,2.058c-0.036-0.231,0.654,1.138,0.639,1.11 c0.098,0.18-0.181,1.358-0.184,1.66c0.455-0.062,1.012,0.293,1.571,0.871L148.109,142.004z"></path><path class="loc-map" id="map-barrios-unidos" d="M237.844,283.11c0.725-2.101,1.352-3.917,1.747-5.693l8.533-50.726c-3.225-0.646-5.771-1.424-9.064-2.521 c-5.531-1.844-17.192,1.348-19.507,2.504c-1.837,0.919-15.611,17.229-27.573,31.971l16.217,20.194l29.096,5.881 C237.482,284.165,237.665,283.627,237.844,283.11z"></path><path class="loc-map" id="map-teusaquillo" d="M164.482,291.959l29.065,29.379l21.032,2.868l7.018,11.803l3.005,1.001 c2.085-3.926,3.679-7.449,4.341-9.903c1.039-3.867,1.669-8.536,2.4-13.938c0.582-4.334,1.246-9.245,2.23-14.424 c1.062-5.563,2.241-9.57,3.31-12.81l-29.389-5.942l-16.332-20.339c-2.563,3.165-5.027,6.239-7.254,9.051 C178.068,276.081,170.695,284.713,164.482,291.959z"></path><path class="loc-map" id="map-los-martires" d="M223.993,338.143l-3.245-1.084l-6.946-11.678l-6.063-0.827l-37.104,40.848l5.166,5.455 c1.528,0.303,11.564,2.285,18.818,3.446c0.972,0.156,2.022,0.562,3.12,1.15c2.263-2.829,8.366-10.505,13.555-17.424 C215.453,352.484,220.354,344.834,223.993,338.143z"></path><path class="loc-map" id="map-antonio-narino" d="M187.66,400.501l15.649-19.263c-1.781-1.657-5.255-4.15-5.255-4.15l-1.118-0.634 c0,0-1.737-0.771-2.52-0.897c-7.854-1.257-18.952-3.474-19.063-3.495l-0.198-0.04l-5.52-5.826 c-2.367,1.237-13.65,6.939-22.317,8.095c-5.152,0.687-7.984,1.095-9.49,1.325c9.264,5.462,28.523,4.406,28.726,4.395l0.28-0.019 l0.202,0.198L187.66,400.501z
"></path><path class="loc-map" id="map-puente-aranda" d="M150.3,308.969c-1.918,2.789-4.947,13.108-7.62,22.213c-2.099,7.145-4.08,13.894-5.345,16.424 c-2.549,5.098-13.584,20.087-16.291,23.737l15.097,3.256c0.525-0.095,2.858-0.48,11.015-1.568 c8.891-1.186,21.07-7.524,22.217-8.129l36.841-40.557l-13.263-1.809l-29.298-29.612c-0.174,0.206-0.359,0.421-0.533,0.623 C157.13,300.527,151.958,306.556,150.3,308.969z"></path><path class="loc-map" id="map-la-candelaria" d="M233.508,359.088l-4.885,4.44l-6.603-1.198l-3.88-1.746l-7.066,11.507l12.089,7.785l4.036-2.502 l3.738-0.788l1.303-8.683l4.624-2.084c0.226-0.152,0.424-0.286,0.526-0.367c1.408-1.143,2.346-1.763,4.095-2.109 c2.122-0.421,2.149-0.678,1.619-2.694c-0.177-0.665-0.402-1.229-0.661-1.771L233.508,359.088z"></path><path class="loc-map" id="map-rafael-uribe" d="M171.288,459.389l7.988,3.463l-5.871-12.624l1.885-1.257l2.382-14.897l-7.083-12.561l16.265-20.021 l-20.506-20.201c-2.583,0.13-20.54,0.793-29.511-4.8l0.596,10.424l-5.278,0.62l2.054,8.508l5.054,24.32l8.3,11.491l-0.634,18.335 l6.005,5.704L171.288,459.389z"></path><path class="loc-map" id="map-ciudad-bolivar" d="M135.546,557.182c13.194-5.922,9.016-28.086,8.569-30.262l-8.965-9.283l2.86-27.334l-5.314-6.976 l8.798-6.518l-2.188-23.76l-1.492-8.352l-7.55-0.63l-5.17-15.832l-19.595-23.388l-15.481-22.894l6.07-11.805l5.802,0.276 l-4.371-6.425l-15.198,7.444l-0.161-0.007l-37.068-1.545c0.171,0.223,0.358,0.459,0.601,0.721c0.82,0.898,1.385,0.81,1.771,2.196 c0.309,1.108,0.185,2.294,0.608,3.386c1.369,3.554,2.604,7.244,3.812,10.912c1.449,4.4,2.454,8.974,3.674,13.341 c0.811,0.101,1.521-0.213,2.333-0.113c-0.086,0.303,0.061,0.638-0.077,0.939c0.737,0.081,1.311,0.628,1.998,0.323 c1.355,1.301,1.182,3.746,1.091,5.511c-0.458,0.106-1.498,0.214-1.848,0.538c-0.665,0.611-0.18,1.016-0.54,1.679 c-0.663,1.222-1.262,1.339-1.396,2.879c-0.183,2.084,0.293,4.115,0.476,6.157c0.188,2.102,0.232,4.202,0.556,6.307 c0.382,2.477,0.762,5.152,0.996,7.572c0.12,1.243-0.372,3.026,0.824,3.829c0.957,0.643,3.151,0.284,4.279,0.455 c1.696,0.259,3.394,0.728,5.095,0.925c0.329,0.036,1.291,0.135,1.578-0.01c0.923-0.461,0.085-0.922,0.746-1.448 c0.529-0.419,2.46-0.192,3.062,0.005c1.063-0.799,0.635-1.545,0.659-2.659c0.275,0.099,0.786-0.01,1.063,0.116 c0.125-1.492-0.655-3.316,0.809-4.462c0.915-0.715,1.31-0.319,1.913-1.23c0.511-0.778,0.151-1.942,1.721-1.61 c0.061-1.131-0.201-2.57,0.813-3.154c4.253-2.449,5.731,2.866,6.081,5.815c0.232,1.955-0.359,3.474-0.551,5.267 c-0.633,0.63-1.508,1.167-2.076,1.892c-0.7,0.897-1.002,1.741-1.848,2.568c-2.046,2.004-4.898,3.456-4.752,6.492 c0.144,0.089,0.791,0.389,0.973,0.443c0.131-1.999,2.138-0.758,3.289-0.579c2.412,0.374,2.938,0.285,3.466,2.84 c-0.973-0.599-2.541-0.229-3.624,0.013c-2.328,0.515-1.885,2.093-2.03,4.453c-0.082,1.337,1.16,6.318,3.27,5.248 c-0.021,1.3,1.3,1.104,1.931,1.877c1.055,1.297,0.584,1.907,2.578,2.071c1.489,0.123,3.076-0.317,4.609-0.317 c3.094,0,4.85-0.86,5.7,2.654c0.382,1.582,0.535,3.366,1.113,4.921c0.521,1.4,1.42,2.13,3.144,2.112 c1.093-0.013,3.646-0.393,4.751-0.801c1.315-0.492,1.775-1.452,3.336-1.745c1.245-0.237,2.832-0.11,3.971-0.788 c1.093-0.657,0.947-1.846,1.928-2.544c1.102-0.788,2.682,0.025,3.772,0.664c1.184,0.693,3.868,1.772,4.252,3.044 c0.272,0.907-0.37,2.65-0.447,3.607c-0.145,1.809-0.219,5.169,2.552,4.006c0.298,1.194,0.662,2.445,0.913,3.657 c0.479,2.322,0.434,4.945,1.333,7.171c1.854-0.329,1.088,9.533,1.077,11.198c-0.016,1.721,0.753,3.341-0.625,4.366 c-0.878,0.655-2.577,0.811-3.632,0.655c-0.453-2.79-1.667-2.728-4.125-2.334c-0.179,2.712,0.798,6.957-0.509,9.252 c-1.468,2.576-4.787,5.146-7.098,6.952c-1.901,1.484-4.271,1.97-6.102,3.563c-1.059,0.923-1.693,2.53-2.456,3.726 c-0.832,1.3-1.322,2.343-1.316,3.896c0.006,1.54,0.218,2.966,1.432,3.684c1.779,1.053,2.292-0.256,3.788-0.338 c-0.119-0.217-0.108-0.654-0.281-0.896c0.658-0.207,0.894,0.146,1.372,0.312c0.765,0.268,0.206,0.535,1.275,0.563 c1.164,0.03,2.247-0.921,3.501-0.726c0.363,2.46-0.662,3.034-2.515,3.777c-1.768,0.708-2.151,2.469-4.1,2.41 c0.014,2.824,4.078,1.421,5.845,1.403c2.311-0.021,4.542,0.25,6.822,0c2.286-0.251,4.817-0.781,6.629-2.063 c1.031-0.727,4.538-1.365,5.743-1.031c1.683,0.465,1.59,2.469,1.59,3.888c0,3.824,0.222,7.615,0.317,11.43 c0.032,1.335,0.143,2.793,0,4.117c-0.158,1.463-0.535,2-1.294,2.614C135.165,557.311,135.502,557.2,135.546,557.182z"></path><path class="loc-map" id="map-sumapaz"></path></g></svg>
        <!-- End Panel -->
      </div>
    </div>
    
    </div>
</div>