<div class="page">
    <div class="page-header">
      <h1 class="page-title">Registrar Localidad</h1>
      <!--<ol class="breadcrumb">
        <li><a href="/">Inicio</a></li>
        <li><a href="/personajes">Personajes</a></li>
        <li class="active">Nuevo</li>
      </ol>-->
    </div>
    <div class="page-content container-fluid">
      <!-- Panel Full Example -->
      <div class="panel">
        <div class="panel-body">
          <form autocomplete="off" method="POST" novalidate="novalidate" class="fv-form fv-form-bootstrap">
            <div class="row row-lg">
              <div class="col-lg-12 form-horizontal">
                <h4>Información de la localidad</h4><br>
                <div class="form-group form-material floating" data-plugin="formMaterial">
                  <input type="text" class="form-control" name="nombre" />
                  <label class="floating-label">Nombre</label>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">Registrar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- End Panel Full Example -->
    </div>
  </div>
