<div class="page">
    <div class="page-content">
      <!-- Panel -->
      <div class="panel">
        <div class="page-header">
          <h1 class="page-title">Entidades
            <span class="float-right">
              <a href="entidades/new" class="btn btn-default">Agregar entidad</a>
            </span>
          </h1>
        </div>
        <div class="panel-body">

          <form class="page-search-form" role="search" method="POST">
            <div class="input-search input-search-dark">
              <i class="input-search-icon wb-search" aria-hidden="true"></i>
              <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Buscar entidad">
              <button type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
            </div>
          </form>

          <ul class="list-group">
          {{#each results}}
          {{#if nombre}}
            <a href="/{{id}}">
            <li class="list-group-item" data-id="{{id}}">
              <div class="media">
                <div class="media-body">
                  <h4>{{nombre}}</h4>
                  <p>
                    <i class="icon icon-color wb-map" aria-hidden="true"></i>{{direccion}}<br>
                    <i class="icon icon-color wb-calendar" aria-hidden="true"></i>{{createdAt}}
                  </p>
                </div>
              </div>
            </li>
            </a>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
      <!-- End Panel -->
    </div>
  </div>
