---
title: Travel
body_class: app-travel
---

{{#extend "layout-default"}}
  {{#content "css_vendor" mode="append"}}
    <link rel="stylesheet" href="{{assets}}/vendor/mapbox-js/mapbox.css">
  {{/content}}

  {{#content "css" mode="prepend"}}
    <link rel="stylesheet" href="{{assets}}/examples/css/apps/travel.css">
  {{/content}}


  {{#content "js_vendor" mode="append"}}
    <script src="{{assets}}/vendor/raty/jquery.raty.js"></script>
    <script src="{{assets}}/vendor/slidepanel/jquery-slidePanel.js"></script>
    <script src="{{assets}}/vendor/mapbox-js/mapbox.js"></script>
    <script src="{{assets}}/vendor/mapbox-js/leaflet.markercluster.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Plugin/raty.js"></script>
  {{/content}}

  {{#content "js" mode="append"}}
    <script src="{{assets}}/js/Site.js"></script>
    <script src="{{assets}}/js/App/Travel.js"></script>
  {{/content}}

  {{#content "scripts" mode="replace"}}
    <script src="{{assets}}/examples/js/apps/travel.js"></script>
  {{/content}}

  {{#content "body"}}

    <!-- Page -->
    <div class="page">
      <!-- Travel Options Siderbar -->
      <div class="page-aside">
        <div class="page-aside-switch">
          <i class="icon wb-chevron-left" aria-hidden="true"></i>
          <i class="icon wb-chevron-right" aria-hidden="true"></i>
        </div>
        <div class="page-aside-inner nav-tabs-animate">
          <div class="page-nav-tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#spots" aria-controls="travel-spots"
                  aria-expanded="false" role="tab">Spots</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#hotels" aria-controls="travel-hotels"
                  aria-expanded="true" role="tab">Hotels</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#reviews" aria-controls="travel-reviews"
                  aria-expanded="false" role="tab">Reviews</a>
              </li>
            </ul>
          </div>
          <div class="page-aside-content page-aside-scroll">
            <div data-role="container">
              <div data-role="content">
                <div class="tab-content">
                  <div class="tab-pane animation-fade active" id="spots" role="tabpanel" aria-expanded="ture">
                    <div class="spots-list row">
                      <div class="col-xxl-6 spot-info" data-spot-id="s_1">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/animal-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                  <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                  <i class="icon wb-heart text-active" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Mountain in Japan
                            </h3>
                            <span class="item-name">
                              commodo
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  laborum
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Aliquip ullamco sint id enim eiusmod magna tempor et sit. Sunt est veniam dolor
                              qui fugiat cillum. Exercitation esse magna id amet
                              sint consequat ad culpa elit. Commodo consequat amet
                              anim non sunt occaecat aute. Amet adipisicing non
                              sunt nulla magna amet sit eu magna. Aliquip occaecat
                              commodo velit sit veniam incididunt aliqua et nisi.
                              Reprehenderit sunt nisi incididunt aute exercitation
                              nostrud dolore proident. Elit ut sint aliqua in aliqua.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_2">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-1-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                  <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                  <i class="icon wb-heart text-active" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The City of French
                            </h3>
                            <span class="item-name">
                              sunt
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  dolore
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Quis velit ullamco ullamco mollit. Sint ullamco non reprehenderit tempor. Qui ex
                              velit et do in ea amet sint voluptate. Irure exercitation
                              nulla ad et duis ullamco tempor fugiat id. Ex sint
                              eiusmod sunt adipisicing et magna ullamco elit cillum.
                              In deserunt occaecat sit voluptate ipsum aliqua.
                              Nostrud mollit commodo tempor esse nisi duis. Ipsum
                              qui nisi proident qui deserunt veniam ullamco.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="3" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_3">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-2-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                  <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                  <i class="icon wb-heart text-active" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Bund of Shanghai
                            </h3>
                            <span class="item-name">
                              in
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  aliqua
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Amet irure reprehenderit ullamco ipsum. Dolor et fugiat ut labore ea. Commodo in
                              tempor ipsum ex ea magna nulla. In tempor reprehenderit
                              duis veniam. Labore ad reprehenderit Lorem officia
                              velit ullamco proident sunt. Velit culpa nisi anim
                              ad non deserunt. Sunt qui quis dolor amet incididunt
                              magna laboris ex. Duis adipisicing est id nisi tempor.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="5" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_4">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-4-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                  <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                  <i class="icon wb-heart text-active" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The Park in New York
                            </h3>
                            <span class="item-name">
                              enim
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  aliqua
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Sunt reprehenderit Lorem aliqua eiusmod aliqua. Id mollit exercitation exercitation
                              sunt aliquip laborum ad et. Voluptate fugiat ad est
                              elit anim. Qui officia et amet reprehenderit do dolor
                              consectetur reprehenderit et. Exercitation id sint
                              aliquip ad. Et amet excepteur aliquip tempor consequat
                              veniam reprehenderit consequat. Voluptate culpa excepteur
                              magna non ipsum. Adipisicing occaecat magna adipisicing
                              laborum.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="2" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 spot-info" data-spot-id="s_5">
                        <div class="card card-shadow">
                          <div class="card-header cover overlay">
                            <img class="cover-image" src="../../../../global/photos/city-3-720x480.jpg" alt="spot_photo"
                            />
                            <div class="overlay-panel">
                              <div class="card-actions float-right">
                                <a href="javascript:void(0)">
                                  <i class="icon wb-heart-outline text" aria-hidden="true"></i>
                                  <i class="icon wb-heart text-active" aria-hidden="true"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="card-block">
                            <h3 class="card-title item-title">
                              The street in Beijing
                            </h3>
                            <span class="item-name">
                              ad
                            </span>
                            <p class="card-text type-link">
                              <small>
                                Posted in
                                <a href="javascript:void(0)">
                                  deserunt
                                </a>
                              </small>
                            </p>
                            <p class="card-text">
                              Eiusmod Lorem incididunt labore minim nostrud ex labore. Sunt voluptate aute voluptate
                              anim fugiat pariatur. Ex aliqua dolore ea consectetur
                              ut proident in do. Consequat cillum nostrud labore
                              sint id adipisicing. Dolore nisi ut exercitation
                              irure minim incididunt deserunt mollit amet. Esse
                              consequat cupidatat aute enim. Labore excepteur incididunt
                              aute eiusmod. In dolore elit nostrud ut.
                            </p>
                          </div>
                          <div class="card-block">
                            <div class="rating" data-score="4" data-nummber="5" data-plugin="rating">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade" id="hotels" role="tabpanel" aria-expanded="false">
                    <div class="hotels-list row">
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_1">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-4-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            reprehenderit culpa
                          </h4>
                          <p class="card-text item-title">
                            Quis amet elit eu proident. Cupidatat do ea labore id est aliqua. Laborum anim
                            excepteur quis proident enim incididunt.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_2">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-5-720x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            dolor laborum
                          </h4>
                          <p class="card-text item-title">
                            Ipsum velit dolor esse commodo et anim minim. Laboris aliqua dolore est qui minim.
                            Et occaecat reprehenderit exercitation culpa ad.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="5" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_3">
                        <div class="card card-block card-inverse card-danger">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-7-960x480.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            sint dolor
                          </h4>
                          <p class="card-text item-title">
                            Consequat anim consequat qui aliqua. Deserunt eiusmod exercitation pariatur dolor
                            sint deserunt. Consectetur dolore commodo velit aliquip
                            aliquip.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="2" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_4">
                        <div class="card card-block card-inverse card-info">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-8-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            reprehenderit id
                          </h4>
                          <p class="card-text item-title">
                            Culpa nostrud nostrud ullamco ea occaecat cupidatat ad. Nisi do et occaecat dolor.
                            Amet id pariatur est laborum qui mollit veniam.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="3" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_5">
                        <div class="card card-block card-inverse card-success">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-6-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            adipisicing fugiat
                          </h4>
                          <p class="card-text item-title">
                            Dolor nostrud irure nulla esse dolor id velit. Nostrud amet aliquip ad exercitation
                            officia. Irure Lorem cillum laboris dolore.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 hotel-info" data-hotel-id="h_6">
                        <div class="card card-block card-inverse card-primary">
                          <div class="hotel-img">
                            <img src="../../../../global/photos/city-9-960x640.jpg">
                          </div>
                          <h4 class="card-title item-name">
                            voluptate nostrud
                          </h4>
                          <p class="card-text item-title">
                            Minim cillum proident tempor mollit consectetur enim culpa. Culpa nulla occaecat
                            fugiat cillum excepteur. Cillum sint excepteur ea reprehenderit
                            sunt sint.
                          </p>
                          <div class="rating" data-plugin="rating" data-score="4" data-nummber="5" data-read-only="true">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane animation-fade page-content-table bg-white" id="reviews" role="tabpanel"
                    aria-expanded="false">
                    <ul class="reviews-list">
                      <li class="reviews-header">
                        <p>
                          <span class="float-right pl-10"><b class="percent">97%</b>approval rating</span>
                          <span>438 Have review this place</span>
                        </p>
                      </li>
                      <li>
                        <ul class="list-group list-group-dividered reviews-list">
                          <li class="list-group-item review-info" data-review-id="">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/undefined">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="mt-0 mb-5 item-name">John very like the spots</h4>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">The Mountain in Japan</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_1">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/5.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="mt-0 mb-5 item-name">exercitation incididunt</h4>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">excepteur et</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_2">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/6.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="mt-0 mb-5 item-name">veniam in</h4>
                                <div class="rating" data-plugin="rating" data-score="2" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">est commodo</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_3">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/7.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="mt-0 mb-5 item-name">est do</h4>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">pariatur magna</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_4">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/8.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="mt-0 mb-5 item-name">mollit ea</h4>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">nisi sit</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_5">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/1.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="mt-0 mb-5 item-name">dolor ipsum</h4>
                                <div class="rating" data-plugin="rating" data-score="4" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">irure ut</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_6">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/10.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="mt-0 mb-5 item-name">est dolore</h4>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">consequat incididunt</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_7">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="mt-0 mb-5 item-name">duis id</h4>
                                <div class="rating" data-plugin="rating" data-score="3" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">proident nulla</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_8">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/11.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="mt-0 mb-5 item-name">nisi aliquip</h4>
                                <div class="rating" data-plugin="rating" data-score="1" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">sunt reprehenderit</span>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item review-info" data-review-id="r_9">
                            <div class="media">
                              <div class="pr-20">
                                <a class="avatar" href="javascript:void(0)">
                                  <img class="img-responsive" src="{{assets}}/portraits/2.jpg">
                                </a>
                              </div>
                              <div class="media-body content">
                                <h4 class="mt-0 mb-5 item-name">sunt ex</h4>
                                <div class="rating" data-plugin="rating" data-score="5" data-number="5" data-read-only="true">
                                </div>
                              </div>
                              <div class="pl-20 align-self-center">
                                <span class="item-title">in dolor</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Travel Options Siderbar -->
      <div class="page-main">
        <div id="map">
        </div>
      </div>
    </div>

  {{/content}}
{{/extend}}