<div class="page">
    <div class="page-header">
      <h1 class="page-title">Editar: {{nombre}}</h1>
      <!--<ol class="breadcrumb">
        <li><a href="/">Inicio</a></li>
        <li><a href="/personajes">Personajes</a></li>
        <li class="active">Nuevo</li>
      </ol>-->
    </div>
    <div class="page-content container-fluid">
      <!-- Panel Full Example -->
      <div class="panel" id="wizardForm">
        <div class="panel-body">
          <form autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap" method="POST" _lpchecked="1" id="PersonajesNew" onkeypress="return event.keyCode != 13;">
            <input type="hidden" name="antecedentes_judiciales" />
            <div class="steps steps-sm row" role="tablist">
              <div class="step col-sm-12 col-lg-3 move-step" style="pointer-events:all !important" data-moveto="0" data-target="#infoPersonal" role="tab" aria-expanded="false">
                <span class="step-number">1</span>
                <div class="step-desc">
                  <span class="step-title">Info. Personal</span>
                  <p>Detalles del personaje</p>
                </div>
              </div>
              <div class="step col-sm-12 col-lg-4 move-step" style="pointer-events:all !important" data-moveto="1" data-target="#infoAcademica" role="tab" aria-expanded="false">
                <span class="step-number">2</span>
                <div class="step-desc">
                  <span class="step-title">Formación</span>
                  <p>Información académica del personaje</p>
                </div>
              </div>
              <div class="step col-sm-12 col-lg-3 move-step" style="pointer-events:all !important" data-moveto="2" data-target="#infoElectoral" role="tab" aria-expanded="false">
                <span class="step-number">3</span>
                <div class="step-desc">
                  <span class="step-title">Info. electoral</span>
                  <p>Datos electorales</p>
                </div>
              </div>
              <div class="step col-sm-12 col-lg-2 move-step" style="pointer-events:all !important" data-moveto="3" data-target="#infoExtra" role="tab" aria-expanded="false">
                <span class="step-number">4</span>
                <div class="step-desc">
                  <span class="step-title">Extras</span>
                  <p>Proyectos, orfertas..</p>
                </div>
              </div>
            </div>

            <div class="wizard-content">
              <div class="wizard-pane" id="infoPersonal" role="tabpanel" aria-expanded="false">
                <div class="media">
                  <div class="media-left pr-20 pt-10">
                    {{#if foto_perfil}}
                      <a class="avatar avatar-lg" href="javascript:void(0)">
                        <img src="/uploads/{{foto_perfil}}" alt="{{nombre}}">
                      </a>
                    {{/if}}
                  </div>
                  <div class="media-body">
                    <div class="form-group">
                      <label class="form-control-label">Foto de perfil</label>
                      <input name="pic" class="form-control" type="file" accept="image/*">
                      <input type="hidden" id="imagebase64"  name="pic_base64">
                      <input type="hidden" id="ext"  name="ext">
                      <div id="upload-editor" style="display: none"></div>
                      <div id="upload-controls" style="display: none;text-align:center">
                        <div class="rotar" data-deg="-90">Rotar a la izquierda</div>
                        <div class="rotar" data-deg="90">Rotar a la derecha</div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="form-control-label">Organización</label>
                  <select class="form-control" data-plugin="select2" name="organizacion" data-autoselect="{{organizacion._id}}">
                    <option value="">Sin organización</option>
                    {{#each organizaciones}}
                      <option value="{{_id}}">{{nombre}}</option>
                    {{/each}}
                  </select>
                </div>
                
                <div class="form-group">
                  <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="crear_organizacion" name="crear_organizacion" class="check-open" data-toggle="select[name=organizacion]">
                    <label for="crear_organizacion">Convertir éste personaje en una Organización</label>
                  </div>
                  <div class="row" style="display: none">
                    <div class="col-md-4">
                      <label class="form-control-label">Nombre de la organización</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" name="nombre_organizacion" class="form-control" value="{{nombre}}">
                    </div>
                    <div class="col-md-4">
                      <label class="form-control-label">Descripción de la organización</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" name="descripcion_organizacion" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control-label">Referido por</label>
                  <select class="form-control selectAjax" name="referido" data-model="personajes">
                    {{#if referido}}
                    <option value="{{referido._id}}" selected>{{referido.nombre}}</option>
                    {{/if}}
                  </select>
                </div>

                <div class="form-group">
                  <label class="form-control-label">Nombre completo</label>
                  <input type="text" class="form-control" name="nombre" readonly value="{{nombre}}" />
                </div>
                
                <div class="form-group">
                  <label class="form-control-label">Descripción</label>
                  <textarea class="form-control" name="descripcion">{{descripcion}}</textarea>
                </div>

                <div class="form-group">
                  <label class="form-control-label">Sexo</label>
                  <select class="form-control" name="sexo" data-plugin="select2" required data-autoselect="{{sexo}}">
                    <option></option>
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMENINO">Femenino</option>
                  </select>
                </div>

                <div class="form-group">
                  <label class="form-control-label">Teléfono móvil</label>
                  <input type="text" class="form-control empty" name="telefono_movil" value="{{telefono_movil}}" />
                </div>

                <div class="form-group">
                  <label class="form-control-label">Teléfono móvil alterno</label>
                  <input type="text" class="form-control empty" name="telefono_movil_alterno" value="{{telefono_movil_alterno}}" />
                </div>

                <div class="form-group">
                  <label class="form-control-label">Teléfono fijo</label>
                  <div class="row">
                    <div class="col-sm-2">
                      <input type="number" class="form-control" name="telefono_fijo[indicativo]" value="{{telefono_fijo.indicativo}}" placeholder="031" maxlength="3"/>
                    </div>
                    <div class="col-sm-10">
                      <input type="number" class="form-control" name="telefono_fijo[numero]" value="{{telefono_fijo.numero}}" placeholder="7770000" maxlength="7" />
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="form-control-label">Email Personal</label>
                  <input type="email" class="form-control empty" name="email_personal" value="{{email_personal}}"/>
                </div>

                <div class="form-group">
                  <label class="form-control-label">Fecha Nacimiento</label>
                  <input type="text" class="form-control empty" readonly name="fecha_nacimiento" value="{{dateInput fecha_nacimiento}}" data-plugin="datepicker" data-weekStart="1"/>
                </div>

                <div class="form-group">
                  <label class="form-control-label">Dirección Residencia</label>
                  <input type="text" class="form-control" name="direccion_residencia" value="{{direccion_residencia}}" />
                </div>

                <div class="form-group">
                  <label class="form-control-label">Localidad</label>
                  <select class="form-control" data-plugin="select2" name="localidad" data-autoselect="{{localidad}}">
                    <option value="">Seleccionar Localidad</div>
                    {{#each localidades}}
                      <option value="{{_id}}">{{nombre}}</option>
                    {{/each}}
                  </select>
                </div>

                <div class="form-group">
                  <label class="form-control-label">Página web</label>
                  <input type="text" class="form-control" name="pagina_web" value="{{pagina_web}}" />
                </div>

                <div class="form-group">
                  <label class="form-control-label">Etiquetas</label>
                  {{> etiquetas}}
                </div>
              </div>

              <div class="wizard-pane" id="infoAcademica" role="tabpanel" aria-expanded="false">
                <div class="build-container">
                  {{#if formacion}}
                  {{#each formacion}}
                  <div class="build-index">
                    <div class="form-group">
                      <label>Nivel académico</label>
                      <select type="text" class="form-control" name="formacion[{n}][nivel_academico]" data-autoselect="{{nivel_academico}}">
                        <option value="Bachiller">Bachiller</option>
                        <option value="Técnico">Técnico</option>
                        <option value="Tecnólogo">Tecnólogo</option>
                        <option value="Profesional">Profesional</option>
                        <option value="Master">Master</option>
                        <option value="Especializado">Especializado</option>
                        <option value="Otro">Otro</option>
                        <option value="No aplica">No aplica</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Descripción</label>
                      <input type="text" class="form-control" name="formacion[{n}][descripcion]" value="{{descripcion}}">
                    </div>
                  </div>
                  {{/each}}
                  {{else}}
                  <div class="build-index">
                    <div class="form-group">
                      <label>Nivel académico</label>
                      <select type="text" class="form-control" name="formacion[{n}][nivel_academico]">
                        <option value="">Seleccionar Nivel Académico</option>
                        <option value="Bachiller">Bachiller</option>
                        <option value="Técnico">Técnico</option>
                        <option value="Tecnólogo">Tecnólogo</option>
                        <option value="Profesional">Profesional</option>
                        <option value="Master">Master</option>
                        <option value="Especializado">Especializado</option>
                        <option value="Otro">Otro</option>
                        <option value="No aplica">No aplica</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Descripción</label>
                      <input type="text" class="form-control" name="formacion[{n}][descripcion]">
                    </div>
                  </div><hr>
                  {{/if}}
                </div>
                <div class="btn btn-default btn-block agregarNivel">Agregar Información de Educación</div>

                <div class="form-group">
                  <label class="form-control-label">Entidad dónde trabaja</label>
                  <select class="form-control empty selectAjax" name="entidad" data-model="entidades">
                    {{#if entidad}}
                      <option value="{{entidad._id}}">{{entidad.nombre}}</option>
                    {{/if}}
                  </select>
                </div>

                <div class="form-group">
                  <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="crear_entidad" name="crear_entidad" class="check-open"  data-toggle="select[name=entidad]">
                    <label for="crear_entidad">¿Crear entidad?</label>
                  </div>
                  <div class="row" style="display: none">
                    <div class="col-md-4">
                      <label class="form-control-label">Nombre de la entidad</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" name="nombre_entidad" class="form-control">
                    </div>
                    <div class="col-md-4">
                      <label class="form-control-label">Dirección de la entidad</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" name="direccion_entidad" class="form-control">
                    </div>
                    <div class="col-md-4">
                      <label class="form-control-label">Teléfono de la entidad</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" name="teléfono_entidad" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control-label">Cargo que desempeña</label>
                  <input type="text" class="form-control empty" name="cargo" value="{{cargo}}" />
                </div>

                <div class="form-group">
                  <label class="form-control-label">Redes sociales</label>
                  <div class="row">
                    <div class="col-lg-4">
                      <input type="text" class="form-control empty" name="facebook" placeholder="Facebook" value="{{get redes_sociales 'red' 'Facebook' 'url'}}"/>
                    </div>
                    <div class="col-lg-4">
                      <input type="text" class="form-control empty" name="twitter" placeholder="Twitter" value="{{get redes_sociales 'red' 'Twitter' 'url'}}"/>
                    </div>
                    <div class="col-lg-4">
                      <input type="text" class="form-control empty" name="instagram" placeholder="Instagram" value="{{get redes_sociales 'red' 'Instagram' 'url'}}"/>
                    </div>
                  </div>
                </div>

              </div>

              <div class="wizard-pane" id="infoElectoral" role="tabpanel" aria-expanded="false">
                <!--<div class="form-group">
                  <label class="form-control-label">Potencial Declarado</label>
                  <input type="text" class="form-control empty" name="potencial_declarado" value="{{potencial_declarado}}"/>
                </div>

                <div class="form-group">
                  <label class="form-control-label">Potencial Esperado</label>
                  <input type="text" class="form-control empty" name="potencial_esperado" value="{{potencial_esperado}}"/>
                </div>-->

                <h4>Potencial en urnas</h4>
                <div class="potencial-urnas-container contenedor-potencial">
                  {{#each potencial_urnas}}
                  <div class="form-group potencial">
                    <label class="form-control-label" style="display: block">Potencial<span class="badge badge-danger delete-this float-right">Eliminar</span></label>
                    <div class="row">
                      <div class="col-lg-3">
                        <select class="form-control departamento"
                                name="potencial_urnas[{n}][departamento]"
                                data-autoselect="{{departamento}}">
                        </select>
                      </div>
                      <div class="col-lg-3">
                        <select class="form-control municipio"
                                name="potencial_urnas[{n}][municipio]"
                                data-autoselect="{{municipio}}">
                        </select>
                      </div>
                      <div class="col-lg-3">
                        <input type="text" class="form-control" name="potencial_urnas[{n}][descripcion]" value="{{descripcion}}" placeholder="Descripcion" />
                      </div>
                      <div class="col-lg-3">
                        <input type="number" class="form-control" name="potencial_urnas[{n}][votos]" value="{{votos}}" placeholder="Votos" />
                      </div>
                    </div>
                    <hr>
                  </div>
                  {{/each}}
                </div>
                <div class="btn btn-default btn-block agregarPotencial" data-tipo="potencial_urnas">Agregar Potencial en Urnas</div>

                <h4>Potencial en otras regiones</h4>
                <div class="potencial-otras-container contenedor-potencial">
                  {{#each potencial_otras_regiones}}
                  <div class="form-group potencial">
                    <label class="form-control-label" style="display: block">Potencial<span class="badge badge-danger delete-this float-right">Eliminar</span></label>
                    <div class="row">
                      <div class="col-lg-3">
                        <select class="form-control departamento"
                          name="potencial_otras_regiones[{n}][departamento]"
                          data-autoselect="{{departamento}}">
                        </select>
                      </div>
                      <div class="col-lg-3">
                        <select class="form-control municipio"
                          name="potencial_otras_regiones[{n}][municipio]"
                          data-autoselect="{{municipio}}">
                        </select>
                      </div>
                      <div class="col-lg-3">
                        <input type="text" class="form-control" name="potencial_otras_regiones[{n}][descripcion]" value="{{descripcion}}" placeholder="Descripcion" />
                      </div>
                      <div class="col-lg-3">
                        <input type="number" class="form-control" name="potencial_otras_regiones[{n}][votos]" value="{{votos}}" placeholder="Votos" />
                      </div>
                    </div>
                    <hr>
                  </div>
                  {{/each}}
                </div>
                <div class="btn btn-default btn-block agregarPotencial" data-tipo="potencial_otras_regiones">Agregar Potencial en Otras Regiones</div>

                <br><br>
                <div class="form-group">
                  <label class="form-control-label">Departamento puesto votacion</label>
                  <input type="text" class="form-control empty" name="puesto_votacion_departamento" readonly value="{{puesto_votacion.departamento}}" />
                </div>

                <div class="form-group">
                  <label class="form-control-label">Municipio puesto votacion</label>
                  <input type="text" class="form-control empty" name="puesto_votacion_municipio" readonly value="{{puesto_votacion.municipio}}"/>
                </div>

                <div class="form-group">
                  <label class="form-control-label">Puesto votacion</label>
                  <input type="text" class="form-control empty" name="puesto_votacion_nombre" readonly value="{{puesto_votacion.nombre}}" />
                </div>

                <div class="form-group">
                  <label class="form-control-label">Dirección puesto votacion</label>
                  <input type="text" class="form-control empty" name="puesto_votacion_direccion" readonly value="{{puesto_votacion.direccion}}" />
                </div>

                <div class="form-group">
                  <label class="form-control-label">Mesa puesto votacion</label>
                  <input type="text" class="form-control empty" name="mesa" readonly value="{{#if mesa}}{{mesa}}{{else}}{{mesa_votacion}}{{/if}}"/>
                </div>

                <div class="form-group">
                  <div class="checkbox-custom checkbox-primary">
                    <input type="checkbox" id="carnetizado" name="carnetizado">
                    <label for="carnetizado">¿Carnetizado?</label>
                  </div>
                </div>

              </div>

              <div class="wizard-pane" id="infoExtra" role="tabpanel" aria-expanded="false">
                <div class="build-container">
                  {{#if proyectos}}
                    {{#each proyectos}}
                      <div class="build-index container-fluid">
                        <input type="hidden" name="proyecto[{n}][_id]" value="{{_id}}">
                        <div class="btn btn-xs btn-danger eliminar-bloque float-right" data-id="{{_id}}" data-model="proyectos">&times; Eliminar</div>
                        <div class="form-group row">
                          <label class="col-md-2 form-control-label">Categoría:</label>
                          <div class="col-md-10">
                            <select class="form-control mb-10" name="proyecto[{n}][tipo]" data-autoselect="{{tipo}}">
                              <option value="hoja_de_vida">Hoja de Vida</option>
                              <option value="comercial">Comercial</option>
                              <option value="primera_reunion">Primera Reunion</option>
                              <option value="visita_territorio">Visita Territorio</option>
                              <option value="gestion_entidad_publica">Gestión entidad Pública</option>
                              <option value="gestion_entidad_privada">Gestión entidad Privada</option>
                              <option value="gestion_educativa">Gestión educativa</option>
                              <option value="cita_interpersonal">Cita Interpersonal</option>
                              <option value="consecucion_recurso">Consecución Recurso</option>
                              <option value="programar_llamada">Programar llamada</option>
                              <option value="programar_reunion">Programar reunión</option>
                              <option value="realizar_pago">Realizar pago</option>
                              <option value="reunion_lideres">Reunión con líderes</option>
                              <option value="compromiso_congresista">Compromiso congresista</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-2 form-control-label">Título:</label>
                          <div class="col-md-10">
                            <input type="text" class="form-control" name="proyecto[{n}][titulo]" value="{{titulo}}">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-2 form-control-label">Descripción:</label>
                          <div class="col-md-10">
                            <textarea class="form-control" name="proyecto[{n}][descripcion]">{{descripcion}}</textarea>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-2 form-control-label">Egresos:</label>
                          <div class="col-md-10">
                            <input type="number" class="form-control" name="proyecto[{n}][egresos]" value="{{egresos}}">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-2 form-control-label">Participantes:</label>
                          <div class="col-md-10">
                            <select id="eventResponsible" multiple class="add-select2" name="proyecto[{n}][usuario_responsable]" {{#if usuario_responsable}}data-autoselect="{{join usuario_responsable}}"{{/if}}>
                              {{#each usuarios}}
                                <option value="{{_id}}">{{name}}</option>
                              {{/each}}
                            </select>
                          </div>
                        </div>
                      </div><hr>
                    {{/each}}
                  {{/if}}
                </div>
                <div class="btn btn-default btn-block agregarProyecto">Agregar Proyecto</div>

                <br><hr><br>

                <div class="build-container">
                  {{#if ofertas}}
                    {{#each ofertas}}
                      <div class="build-index">
                        <input type="hidden" name="oferta[{n}][_id]" value="{{_id}}">
                        <div class="btn btn-xs btn-danger eliminar-bloque float-right" data-id="{{_id}}" data-model="ofertas">&times; Eliminar</div>
                        <div class="form-group mb-20">
                          <select name="oferta[{n}][categoria]" class="form-control" data-autoselect="{{categoria}}">
                            <option value="Servicios">Servicios</option>
                            <option value="Bienes">Bienes</option>
                            <option value="Dinero">Dinero</option>
                            <option value="Laboral">Laboral</option>
                            <option value="Gestión">Gestión</option>
                            <option value="Educación">Educación</option>
                            <option valie="Aporte Programático">Aporte Programático</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <input type="text" name="oferta[{n}][tipo]" class="form-control" placeholder="Titulo de la oferta" value="{{tipo}}">
                        </div>
                        <div class="form-group">
                          <textarea name="oferta[{n}][descripcion]" class="form-control" placeholder="Describe la oferta">{{descripcion}}</textarea>
                        </div>

                        <div class="form-group">
                          <input type="text" name="oferta[{n}][fecha_fin]" class="form-control add-datepicker" placeholder="Fecha en la que expira la oferta" value="{{dateInput fecha_fin}}">
                        </div>
                      </div><hr>
                    {{/each}}
                  {{/if}}
                </div>
                <div class="btn btn-default btn-block agregarOferta">Agregar Oferta</div>
                
              </div>


            </div>
          </form>
        </div>
      </div>
      <!-- End Panel Full Example -->
    </div>
  </div>

  <script id="potencialTemplate" type="text/html">
    <div class="form-group potencial">
      <label class="form-control-label" style="display: block">Potencial<span class="badge badge-danger delete-this float-right">Eliminar</span></label>
      <div class="row">
        <div class="col-lg-3">
          <select class="form-control departamento" name="{tipo}[{n}][departamento]">
          </select>
        </div>
        <div class="col-lg-3">
          <select class="form-control municipio" name="{tipo}[{n}][municipio]">
          </select>
        </div>
        <div class="col-lg-3">
          <input type="text" class="form-control" name="{tipo}[{n}][descripcion]" placeholder="Descripcion" />
        </div>
        <div class="col-lg-3">
          <input type="number" class="form-control" name="{tipo}[{n}][votos]" placeholder="Votos" />
        </div>
      </div>
      <hr>
    </div>
</script>

<script id="nivelTemplate" type="text/html">
  <div class="build-index">
    <div class="form-group">
      <label>Nivel académico</label>
      <select type="text" class="form-control" name="formacion[{n}][nivel_academico]">
        <option value="Bachiller">Bachiller</option>
        <option value="Técnico">Técnico</option>
        <option value="Tecnólogo">Tecnólogo</option>
        <option value="Profesional">Profesional</option>
        <option value="Master">Master</option>
        <option value="Especializado">Especializado</option>
        <option value="Otro">Otro</option>
        <option value="No aplica">No aplica</option>
      </select>
    </div>
    <div class="form-group">
      <label>Descripción</label>
      <input type="text" class="form-control" name="formacion[{n}][descripcion]">
    </div>
  </div><hr>
</script>

<script id="ofertaTemplate" type="text/html">
  <div class="build-index">
    <div class="btn btn-xs btn-danger eliminar-bloque float-right">&times; Eliminar</div>
    <div class="form-group mb-20">
      <select name="oferta[{n}][categoria]" class="form-control">
        <option value="Servicios">Servicios</option>
        <option value="Bienes">Bienes</option>
        <option value="Dinero">Dinero</option>
        <option value="Laboral">Laboral</option>
        <option value="Gestión">Gestión</option>
        <option value="Educación">Educación</option>
        <option valie="Aporte Programático">Aporte Programático</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" name="oferta[{n}][tipo]" class="form-control" placeholder="Tipo de oferta">
    </div>
    <div class="form-group">
      <textarea name="oferta[{n}][descripcion]" class="form-control" placeholder="Describe la oferta"></textarea>
    </div>

    <div class="form-group">
      <input type="text" name="oferta[{n}][fecha_fin]" class="form-control add-datepicker" placeholder="Fecha en la que expira la oferta">
    </div>
  </div><hr>
</script>

<script id="proyectoTemplate" type="text/html">
<div class="build-index container-fluid">
  <div class="btn btn-xs btn-danger eliminar-bloque float-right">&times; Eliminar</div>
  <div class="form-group row">
    <label class="col-md-2 form-control-label">Categoría:</label>
    <div class="col-md-10">
      <select class="form-control mb-10" name="proyecto[{n}][tipo]">
        <option value="hoja_de_vida">Hoja de Vida</option>
        <option value="comercial">Comercial</option>
        <option value="primera_reunion">Primera Reunion</option>
        <option value="visita_territorio">Visita Territorio</option>
        <option value="gestion_entidad_publica">Gestión entidad Pública</option>
        <option value="gestion_entidad_privada">Gestión entidad Privada</option>
        <option value="gestion_educativa">Gestión educativa</option>
        <option value="cita_interpersonal">Cita Interpersonal</option>
        <option value="consecucion_recurso">Consecución Recurso</option>
        <option value="programar_llamada">Programar llamada</option>
        <option value="programar_reunion">Programar reunión</option>
        <option value="realizar_pago">Realizar pago</option>
        <option value="reunion_lideres">Reunión con líderes</option>
        <option value="compromiso_congresista">Compromiso congresista</option>
        <option value="presentacion_lideres">Presentación de Líder(es)</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 form-control-label">Título:</label>
    <div class="col-md-10">
      <input type="text" class="form-control" name="proyecto[{n}][titulo]">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 form-control-label">Descripción:</label>
    <div class="col-md-10">
      <textarea class="form-control" name="proyecto[{n}][descripcion]"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 form-control-label">Egresos:</label>
    <div class="col-md-10">
      <input type="number" class="form-control" name="proyecto[{n}][egresos]">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 form-control-label">Participantes:</label>
    <div class="col-md-10">
      <select id="eventResponsible" multiple class="add-select2" name="proyecto[{n}][usuario_responsable]">
        {{#each usuarios}}
          <option value="{{_id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</div><hr>
</script>

{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="/assets/vendor/jquery-wizard/jquery-wizard.min.css">
<link rel="stylesheet" href="/assets/vendor/formvalidation/formValidation.min.css">
<link rel="stylesheet" href="/css/croppie.css">
{{/contentFor}}

{{#contentFor "pageVendors"}}
<script src="/assets/vendor/formvalidation/formValidation.min.js"></script>
<script src="/assets/vendor/formvalidation/framework/bootstrap4.min.js"></script>
<script src="/assets/vendor/jquery-wizard/jquery-wizard.js"></script>
{{/contentFor}}

{{#contentFor "pageScripts"}}
<script src="/assets/js/Plugin/jquery-wizard.js"></script>
<script src="/js/croppie.min.js"></script>
<script src="/js/personajes_new.js"></script>
{{/contentFor}}
