<div class="page">
    <div class="page-header">
        <h1 class="page-title">Personajes
          {{#if deleted_view}}
            eliminados <span class="badge badge-danger">{{total}}</span>
          {{else}}
            <span class="badge badge-info">{{total}}</span> <a href="personajes?deleted=true" class="badge badge-danger">{{deleted}}</a>
          {{/if}}
        <span class="float-right">
          <a href="personajes/new" class="btn btn-default">Agregar personaje</a>
          <a href="personajes?export=csv" class="btn btn-outline btn-default">Exportar CSV</a>
        </span>
      </h1>
    </div>
    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body">
                <form class="form-inline" role="search" method="GET" action="#">
                  <div class="form-group">
                    <label>Tipo:</label>
                    <select class="form-control" name="field" data-plugin="select2" data-autoselect="{{query.field}}">
                      <option value="nombre">Nombre</option>
                      <option value="email">Email</option>
                      <option value="documento">Documento</option>
                      <option value="telefono">Teléfono</option>
                      <option value="formacion">Formación</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Buscar:</label><br>
                    <div style="clear: both;width: 100%">
                      <input type="text" class="form-control" id="inputSearch" name="search" placeholder="Buscar personaje" value="{{query.search}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Organización:</label>
                    <select class="form-control selectAjax" name="organizacion" data-model="organizaciones"></select>
                  </div>
                  <div class="form-group">
                    <label>Localidad:</label>
                    <select class="form-control selectAjax" name="localidad" data-model="localidades"></select>
                  </div>
                  <div class="form-group">
                    <label>Referido:</label>
                    <select class="form-control selectAjax" name="referido" data-model="personajes"></select>
                  </div>
                  <div class="form-group float-right">
                    <button type="submit" class="form-control"><i class="fa fa-search"></i></button>
                  </div>
                </form>
            </div>
        </div>

        {{#each results}}
            {{#if nombre}}
                <div class="panel color-{{#if color}}{{color}}{{else}}default{{/if}}" data-id="{{id}}">
                    <div class="panel-heading">
                      <div class="media">
                        <img class="d-flex mr-3 lazy" data-plugin="zoom" data-action="zoom" width=50 data-src="{{#if foto_perfil}}/uploads/{{foto_perfil}}{{else}}/portraits/default.png{{/if}}" alt="{{nombre}}">
                        <div class="media-body" width="100%">
                          <div class="row">
                            <div class="col-sm-12">
                              <h3 class="panel-title"><a href="personajes/{{_id}}">{{nombre}} {{apellido}}</a>
                               <span class="badge badge-default"><i class="fa fa-comment"></i> {{count comentarios}}</span>
                               <span class="badge badge-default"><i class="wb-clipboard"></i> {{count ofertas}}</span>
                               <span class="badge badge-default"><i class="wb-plugin"></i> {{count proyectos}}</span>
                              </h3>
                              {{#if descripcion}}<p class="pl-30 pr-30">{{descripcion}}</p>{{/if}}
                            </div>
                            <div class="col-sm-3">
                              <div class="panel-body pt-0">
                                <div>
                                  <i class="icon icon-color wb-email" aria-hidden="true"></i>
                                  <small>{{#if email_personal}}<a href="mailto:{{email_personal}}">{{email_personal}}</a>{{else}}<em>Sin email</em>{{/if}}</small>
                                </div>
                                <div>
                                  <i class="icon icon-color wb-user" aria-hidden="true"></i>
                                  <small>{{#if referido}}<a href="/admin/personajes/{{referido._id}}">{{referido.nombre}}</a>{{else}}<em>Sin referido</em>{{/if}}</small>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="panel-body pt-0">
                                <div>
                                  <i class="icon icon-color fa-birthday-cake" aria-hidden="true"></i>
                                  <small>{{#if fecha_nacimiento}}{{date fecha_nacimiento}}{{else}}Sin fecha de nacimiento{{/if}}<br></small>
                                </div>
                                <div>
                                  <i class="icon icon-color fa-phone" aria-hidden="true"></i>
                                  <small>{{#if telefono_movil}}<a href="phone:{{telefono_movil}}">{{telefono_movil}}</a>{{else}}<em>No tiene teléfono celular.</em>{{/if}}<br></small>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <div class="panel-body pt-0">
                                <div>
                                  <i class="icon icon-color fa-address-card edit-organizacion" data-id="{{organizacion._id}}" data-nombre="{{organizacion.nombre}}" data-personaje="{{_id}}" title="Cambiar organización" aria-hidden="true"></i>
                                  <small>{{#if organizacion}}<a href="/admin/organizaciones/{{organizacion._id}}">{{organizacion.nombre}}</a>{{else}}Sin organización{{/if}}<br></small>
                                </div>
                                {{#if agregado_contactos_google}}
                                <div>
                                  <span class="badge badge-success">Agregado a contactos de Google</span>
                                </div>
                                {{/if}}
                              </div>
                            </div>
                          </div>
                          <ul class="panel-actions">
                            <li><a href="personajes/{{_id}}">Ver</a></li>
                            <li><a href="personajes/{{_id}}/edit">Editar</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}

        {{#ifCond total '>' max}}
        <a href="?page={{@root.next_page}}" class="btn btn-outline btn-info btn-lg">Siguiente</a>
        {{/ifCond}}
        <!-- End Panel -->
    </div>
</div>
<script data-plugin="select2"></script>

<!-- Referidos modal -->
<div class="modal fade" id="organizacionUpdate" role="dialog" aria-labelledby="organizacionUpdate" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Cambiar de organización:</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select name="organizacion_set" data-model="organizaciones" class="selectAjax"></select>
      </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-success update-organizacion">Guardar</button>
      </div>
    </div>
  </div>
</div>

{{#contentFor "pageScripts"}}
<script src="/js/select2.js"></script>
<script src="/js/personajes_list.js"></script>
{{/contentFor}}
