<div class="page">
  <div class="page-header">
    <h1 class="page-title">Habilitar personaje</h1>
    <!--<ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li><a href="/personajes">Personajes</a></li>
      <li class="active">Nuevo</li>
    </ol>-->
  </div>
  <div class="page-content container-fluid">
    <div class="panel">
      <div class="panel-body">
        <form autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap" method="POST" _lpchecked="1" id="PersonajeRestore" onkeypress="return event.keyCode != 13;">
          <div class="form-group">
            <div class="checkbox-custom checkbox-primary">
              <input type="checkbox" id="restore" name="restore">
              <label for="restore">Estoy seguro de habilitar el personaje, lo que hará que vuelva a estar disponible en la plataforma.</label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-info">Restaurar Personaje</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
