<div class="page">
    <div class="page-content">
        <div id="arbol"></div>
    </div>
</div>
{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="/css/tree.css">
{{/contentFor}}
{{#contentFor "pageScripts"}}
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/js/tree.js"></script>
{{/contentFor}}
{{#contentFor "loadedScript"}}
var u_data = {};
   
function loadChilds(actualElement, successFunction) {
    $.getJSON("/api/tree/personajes/" + actualElement.id, 
        function(data) {
            successFunction(data);
        }
    );
}

$.getJSON("/api/tree/personajes",
    function(data) {
        u_data = data;
        orgChart.initTree({id: "#arbol", data: data, modus: "diagonal", loadFunc: loadChilds});
    }
);
{{/contentFor}}