<div class="page">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Page Widget -->
                <div class="widget widget-shadow">
                  <div class="widget-header">
                      <div class="widget-header-content">
                          <div class="media">
                            {{#if foto_perfil}}
                            <div class="media-left pr-20 pt-10">
                              <a class="avatar avatar-lg" data-plugin="zoom" href="javascript:void(0)">
                                  <img src="/uploads/{{foto_perfil}}" data-action="zoom" alt="{{nombre}}">
                              </a>
                            </div>
                            {{/if}}
                            <div class="media-body">
                              <h4 class="profile-user">{{nombre}}</h4>
                              <p>
                                {{#if email_personal}}
                                  <a href="mailto:{{email_personal}}">
                                    {{email_personal}}
                                  </a>
                                {{/if}}
                              </p>
                            </div>
                          </div>
                          <br>
                          <div class="profile-job row">
                            <!-- Fecha nacimiento -->
                            <div class="col-sm-12">
                              <i class="site-menu-icon fa-birthday-cake" aria-hidden="true"></i> {{date fecha_nacimiento}}
                            </div>
                            <!-- Hojas de vida -->
                            <div class="col-sm-12" data-toggle="modal" data-target="#referidos">
                              <i class="site-menu-icon wb-users" aria-hidden="true"></i>Referidos: {{count referidos}}
                            </div>
                            <!-- Hojas de vida -->
                            <div class="col-sm-12">
                              <i class="site-menu-icon wb-briefcase" aria-hidden="true"></i>Hojas de Vida: {{count hojas_de_vida}}
                            </div>

                            <div class="col-sm-12">
                              <div class="btn-group pl-30 pt-10">
                                {{#each redes_sociales}}
                                  {{#ifCond red '==' 'Facebook'}}
                                    <a href="{{url}}" target="_blank" class="btn btn-icon social-facebook">
                                      <i class="icon bd-facebook" aria-hidden="true"></i>
                                    </a>
                                  {{/ifCond}}
                                  {{#ifCond red '==' 'Twitter'}}
                                    <a href="{{url}}" target="_blank" class="btn btn-icon social-twitter">
                                      <i class="icon bd-twitter" aria-hidden="true"></i>
                                    </a>
                                  {{/ifCond}}
                                  {{#ifCond red '==' 'Instagram'}}
                                    <a href="{{url}}" target="_blank" class="btn btn-icon social-instagram">
                                      <i class="icon bd-instagram" aria-hidden="true"></i>
                                    </a>
                                  {{/ifCond}}
                                {{/each}}
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <hr><!--
                  <div class="widget-footer">
                    <h5>Potencial</h5>
                      <div class="row no-space">
                          <div class="col-sm-4">
                              <strong class="profile-stat-count">{{potencial_electoral}}</strong><br>
                              <span>Electoral</span>
                          </div>
                          <div class="col-sm-4">
                              <strong class="profile-stat-count">{{potencial_declarado}}</strong><br>
                              <span>Declarado</span>
                          </div>
                          <div class="col-sm-4">
                              <strong class="profile-stat-count">{{potencial_esperado}}</strong><br>
                              <span>Esperado</span>
                          </div>
                      </div>
                  </div>-->
                  <div class="widget-footer">
                    <h5>Color</h5>
                    <div class="row no-space">
                      <div class="btn-group user-color" data-select-color="{{#if color}}{{color}}{{else}}default{{/if}}">
                        <div class="btn btn-sm btn-primary" data-color="primary"></div>
                        <div class="btn btn-sm btn-danger" data-color="danger"></div>
                        <div class="btn btn-sm btn-default" data-color="default"></div>
                      </div>
                    </div>
                  </div>
                  <div class="widget-footer">
                    <div class="row no-space">
                      <div class="checkbox-custom checkbox-primary">
                        <input type="checkbox" id="setContactos" name="agregado_contactos_google" value="true" {{#if agregado_contactos_google}}checked{{/if}}>
                        <label for="setContactos">¿Agregado a Google?</label>
                      </div>
                    </div>
                  </div>

                  <div class="widget-footer">
                    <div class="row no-space">
                      <div class="checkbox-custom checkbox-primary">
                        <input type="checkbox" id="envio_mail" name="email" value="true" {{#if enviar.email}}checked{{/if}}>
                        <label for="envio_mail">Recibe email</label>
                      </div>
                    </div>
                  </div>

                  <div class="widget-footer">
                    <div class="row no-space">
                      <div class="checkbox-custom checkbox-primary">
                        <input type="checkbox" id="sms" name="sms" value="true" {{#if enviar.sms}}checked{{/if}}>
                        <label for="sms">Recibe SMS</label>
                      </div>
                    </div>
                  </div>

                  <div class="widget-footer">
                    <div class="row no-space">
                      <div class="checkbox-custom checkbox-primary">
                        <input type="checkbox" id="llamar" name="llamadas" value="true" {{#if enviar.llamadas}}checked{{/if}}>
                        <label for="llamar">Recibe llamadas</label>
                      </div>
                    </div>
                  </div>

                  <div class="widget-footer">
                    <div class="row no-space">
                      <div class="checkbox-custom checkbox-primary">
                        <input type="checkbox" id="correspondencia" name="correspondencia" value="true" {{#if enviar.correspondencia}}checked{{/if}}>
                        <label for="correspondencia">Recibe correspondencia</label>
                      </div>
                    </div>
                  </div>

                  <div class="widget-footer">
                    <h5>Etiquetas</h5>
                    <div class="row no-space">
                      {{#each etiquetas}}
                        <div class="badge badge-primary mr-10 mb-10">{{etiqueta this}}</div>
                      {{/each}}
                    </div>
                  </div>
                <!-- End Page Widget -->
            </div>

            <div class="col-md-9">
              <div>
                <span class="float-right">
                  <a href="{{_id}}/edit" class="btn btn-default">Editar Información</a>
                  {{#if deleted}}
                    <a href="{{_id}}/restore" class="btn btn-info">Habilitar</a>
                  {{else}}
                    <a href="{{_id}}/delete" class="btn btn-danger">Eliminar</a>
                  {{/if}}
                </span>
                <br><br>
                {{#if deleted}}
                <div class="alert dark alert-danger alert-dismissible" role="alert" style="text-align: center">
                    Este personaje se encuentra INACTIVO.
                </div>
                {{/if}}
              </div>
                <!-- Panel -->
                <div class="panel">
                  <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="active nav-link" data-toggle="tab" href="#profile" aria-controls="profile" role="tab">
                          Perfil
                        </a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#projects" aria-controls="profile"
                        role="tab">Proyectos <span class="badge badge-default">{{count proyectos}}</span></a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#comments" aria-controls="comments"
                        role="tab">Comentarios <span class="badge badge-default">{{count comentarios}}</span></a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#cvs" aria-controls="cvs"
                        role="tab">Hojas de Vida</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#offerts" aria-controls="offerts"
                        role="tab">Ofertas <span class="badge badge-default">{{count ofertas}}</span></a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#files" aria-controls="files"
                        role="tab">Archivos <span class="badge badge-default">{{count archivos}}</span></a>
                      </li>
                    </ul>
                    <div class="tab-content pt-20">
                      <div class="tab-pane active" id="profile" role="tabpanel">
                        <p class="mb-20">
                          {{#if descripcion}}{{descripcion}}{{else}}No tiene descripción{{/if}}
                        </p>
                        <h4>Información Personal</h4>
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <td><b>Organización a la que pertenece</b></td>
                              <td><a href="/admin/organizaciones/{{organizacion._id}}">{{organizacion.nombre}}</a></td>
                            </tr>
                            <tr>
                              <td><b>Referido por</b></td>
                              <td><a href="/admin/personajes/{{referido._id}}">{{referido.nombre}}</a></td>
                            </tr>
                            <tr>
                              <td><b>Documento</b></td>
                              <td>{{documento}}</td>
                            </tr>
                            <tr>
                              <td><b>Sexo</b></td>
                              <td>{{sexo}}</td>
                            </tr>
                            <tr>
                              <td><b>Dirección Residencia</b></td>
                              <td>{{direccion_residencia}}</td>
                            </tr>
                            <tr>
                              <td><b>Teléfono móvil</b></td>
                              <td>{{telefono_movil}}</td>
                            </tr>
                            <tr>
                              <td><b>Teléfono Alterno</b></td>
                              <td>{{telefono_movil_alterno}}</td>
                            </tr>
                            <tr>
                              <td><b>Email Personal</b></td>
                              <td>{{email_personal}}</td>
                            </tr>
                            <tr>
                              <td><b>Teléfono fijo</b></td>
                              <td>{{telefono_fijo.indicativo}} {{telefono_fijo.numero}}</td>
                            </tr>
                            <tr>
                              <td><b>Página web</b></td>
                              <td><a href="{{pagina_web}}" target=_blank>{{pagina_web}}</a></td>
                            </tr>
                          </tbody>
                        </table>
                        <h4>Información académica y laboral</h4>
                        <table class="table table-hover">
                          <tbody>
                            {{#each formacion}}
                            <tr>
                              <td><b>Formación Académica</b></td>
                              <td>{{nivel_academico}}: {{descripcion}}</td>
                            </tr>
                            {{/each}}
                            <tr>
                              <td><b>Entidad donde trabaja</b></td>
                              <td>{{#if entidad}}{{entidad.nombre}}{{/if}}</td>
                            </tr>
                            <tr>
                              <td><b>Cargo que desempeña</b></td>
                              <td>{{cargo}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <h4>Información Electoral</h4><br>
                        <h6>Puesto de votación <div class="btn btn-outline btn-default btn-xs float-right actualizar-puesto" data-id="{{_id}}">Actualizar</div></h6>
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <td><b>Puesto de votación</b></td>
                              <td>{{puesto_votacion.nombre}}</td>
                            </tr>
                            <tr>
                              <td><b>Dirección Puesto de Votación</b></td>
                              <td>{{puesto_votacion.direccion}}</td>
                            </tr>
                            <tr>
                              <td><b>Departamento</b></td>
                              <td>{{puesto_votacion.departamento}}</td>
                            </tr>
                            <tr>
                              <td><b>Municipio</b></td>
                              <td>{{puesto_votacion.municipio}}</td>
                            </tr>
                            <tr>
                              <td><b>Mesa en la que vota</b></td>
                              <td>{{#if mesa}}{{mesa}}{{else}}{{mesa_votacion}}{{/if}}</td>
                            </tr>
                          </tbody>
                        </table>
                        
                        {{#if potencial_urnas}}
                        <h6>Potencial urnas</h6>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Departamento</th>
                              <th>Municipio</th>
                              <th>Descripcion</th>
                              <th>Votos</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each potencial_urnas}}
                            <tr>
                              <td>{{departamento}}</td>
                              <td>{{municipio}}</td>
                              <td>{{descripcion}}</td>
                              <td>{{votos}}</td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        {{/if}}

                        {{#if potencial_otras_regiones}}
                        <h6>Potencial en otras regiones</h6>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Departamento</th>
                              <th>Municipio</th>
                              <th>Descripcion</th>
                              <th>Votos</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each potencial_otras_regiones}}
                            <tr>
                              <td>{{departamento}}</td>
                              <td>{{municipio}}</td>
                              <td>{{descripcion}}</td>
                              <td>{{votos}}</td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        {{/if}}

                        <h4>Antecedentes Judiciales</h4>
                        <div class="">
                          {{antecedentes_judiciales}}
                        </div>
                      </div>
                      <div class="tab-pane" id="projects" role="tabpanel">
                        <a href="/admin/proyectos/new?personaje={{_id}}&personaje_name={{nombre}}" class="btn btn-block btn-default">Agregar nuevo Proyecto</a>
                        {{#if proyectos}}
                        <table class="table table-hover mt-30">
                          <thead>
                            <tr>
                              <th>Proyecto</th>
                              <th>Tipo</th>
                              <th>Egresos</th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each proyectos}}
                            <tr>
                              <td>{{titulo}}</td>
                              <td>{{tipoProyecto tipo}}</td>
                              <td>$ {{money egresos}}</td>
                              <td><a href="/admin/proyectos/{{_id}}" class="btn btn-outline btn-dark">Ver Proyecto</a></th>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        {{else}}
                          <h5 class="pt-20">Aún no tiene Proyectos</h5>
                        {{/if}}
                      </div>
                      <div class="tab-pane" id="comments" role="tabpanel">
                        <form class="hidden-xs-up" action="{{_id}}/comment" id="personajeCommentForm" method="POST">
                          <div class="form-group">
                            <textarea name="comentario" required class="form-control" placeholder="Escribe un comentario"></textarea>
                          </div>
                          <button type="submit" class="btn btn-success btn-block">Dejar Comentario</button>
                          <div class="btn btn-block btn-default cancelar-elemento">Cancelar</div>
                        </form>
                        <div class="btn btn-block btn-default agregar-elemento">Agregar Comentario</div>
                        {{#if comentarios}}
                        <div class="app-message-chats">
                          <div class="chats">
                            {{#each comentarios}}
                            <div class="chat chat-left">
                              <div class="chat-avatar">
                                {{usuario.name}}<br>
                                <small data-livestamp="{{createdAt}}"></small>
                              </div>
                              <div class="chat-body">
                                <div class="chat-content">
                                  <p>{{comentario}}</p>
                                </div>
                              </div>
                            </div>
                            {{/each}}
                          </div>
                        </div>
                        {{else}}
                          <h5 class="pt-20">Aún no tiene comentarios</h5>
                        {{/if}}
                      </div>
                      <div class="tab-pane" id="cvs" role="tabpanel">
                        <div class="btn btn-block btn-default">Agregar Hoja de Vida</div>
                        {{#if hojas_de_vida}}

                        {{else}}
                          <h5 class="pt-20">Aún no tiene Hojas de Vida</h5>
                        {{/if}}
                      </div>
                      <div class="tab-pane" id="offerts" role="tabpanel">
                        <form class="hidden-xs-up" action="{{_id}}/offer" id="personajeOfferForm" method="POST">
                          <div class="form-group mb-20">
                            <select required name="categoria" class="form-control">
                              <option value="Servicios">Servicios</option>
                              <option value="Bienes">Bienes</option>
                              <option value="Dinero">Dinero</option>
                              <option value="Laboral">Laboral</option>
                              <option value="Gestión">Gestión</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <input type="text" name="tipo" required class="form-control" placeholder="Tipo de oferta">
                          </div>
                          <div class="form-group">
                            <textarea name="descripcion" required class="form-control" placeholder="Describe la oferta"></textarea>
                          </div>

                          <div class="form-group">
                            <input type="text" name="fecha_fin" required class="form-control" data-plugin="datepicker" placeholder="Fecha en la que expira la oferta">
                          </div>
                          <button type="submit" class="btn btn-success btn-block">Crear oferta</button>
                          <div class="btn btn-block btn-default cancelar-elemento">Cancelar</div>
                        </form>
                        <div class="btn btn-block btn-default agregar-elemento">Agregar Oferta/Voluntariado</div>
                        {{#if ofertas}}
                        <table class="table table-hover mt-30">
                          <thead>
                            <tr>
                              <th>Categoria</th>
                              <th>Tipo</th>
                              <th>Descripción</th>
                              <th>Fecha expira</th>
                              <th>Creada por</th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each ofertas}}
                            <tr>
                              <td>{{categoria}}</td>
                              <td>{{tipo}}</td>
                              <td>{{descripcion}}</td>
                              <td>{{date fecha_fin}}</td>
                              <td>{{usuario.name}}</td>
                              <td>
                                 <div class="float-right btn-group">
                                  <a class="btn btn-sm btn-default" href="ofertas/{{_id}}/edit">Editar</a>
                                  <a class="btn btn-sm btn-danger" href="ofertas/{{_id}}/delete">Eliminar</a>
                                </div>
                              </td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        {{else}}
                          <h5 class="pt-20">Aún no tiene Ofertas</h5>
                        {{/if}}
                      </div>
                      <div class="tab-pane" id="files" role="tabpanel">
                        <form class="upload-form pt-20" id="personajeUploadForm" action="{{_id}}/upload" method="POST" enctype="multipart/form-data">
                          <input required type="file" id="inputUpload" name="file">
                          <div class="uploader-inline">
                            <p class="upload-instructions">Da click o arrastra un archivo para subirlo.</p>
                          </div>
                          <button type="submit" class="btn btn-success btn-block">Subir archivo</button>
                        </form>
                        {{#if archivos}}
                        <table class="table table-hover mt-30">
                          <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th>Archivo</th>
                              <th>Subido por</th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each archivos}}
                            <tr>
                              <td>
                                <i class="fa {{getIcon mimetype}}"></i>
                              </td>
                              <td>{{originalname}}</td>
                              <td>{{usuario.name}}</td>
                              <td><a href="/uploads/{{filename}}" target=_blank class="btn btn-outline btn-dark">Descargar</a></th>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        {{else}}
                          <h5 class="pt-20">Aún no tiene Archivos</h5>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Panel -->
            </div>
        </div>
    </div>
</div>
<!-- Referidos modal -->
<div class="modal fade" id="referidos">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Referidos</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-dividered list-group-full h-300" style="overflow:auto">
          <div data-role="container">
              <div data-role="content">
                {{#each referidos}}
                  <li class="list-group-item justify-content-between">
                    <div class="item-title">
                      <a href="/admin/personajes/{{_id}}">{{nombre}}</a>
                    </div>
                </li>
                {{/each}}
              </div>
            </div>
          </ul>
      </div>
    </div>
  </div>
</div>
{{#contentFor "pageScripts"}}
<script src="/js/personajes_view.js"></script>
{{/contentFor}}
{{#contentFor "loadedScript"}}
  window._id = "{{_id}}";
{{/contentFor}}
