<div class="page">
  <div class="page-header">
    <h1 class="page-title">Editar proyecto</h1>
    <!--<ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li><a href="/personajes">Personajes</a></li>
      <li class="active">Nuevo</li>
    </ol>-->
  </div>
  <div class="page-content container-fluid">
    <div class="panel">
      <div class="panel-body">
        <form autocomplete="off" novalidate="novalidate" class="fv-form fv-form-bootstrap" method="POST" _lpchecked="1" id="ProyectoEdit" onkeypress="return event.keyCode != 13;">

          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="organizacion">Organización:</label>
            <div class="col-md-10">
              <select class="form-control" data-plugin="select2" name="organizacion" required data-autoselect="{{organizacion._id}}">
                <option value="">Sin organización</option>
                {{#each organizaciones}}
                  <option value="{{_id}}">{{nombre}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="people">Personaje:</label>
            <div class="col-md-10">
              <select id="personaje" class="form-control selectAjax" data-model="personajes" name="personaje" required>
                {{#if personaje}}
                  <option value="{{personaje._id}}" selected>{{personaje.nombre}}</option>
                {{else}}
                  <option value="">Sin personaje</option>
                {{/if}}
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 form-control-label">Categoría:</label>
            <div class="col-md-10">
              <select class="form-control mb-10" name="tipo" data-autoselect="{{tipo}}">
                <option value="reunion">Reunión</option>
                <option value="gestion_entidad_publica">Gestión entidad Pública</option>
                <option value="gestion_entidad_privada">Gestión entidad Privada</option>
                <option value="gestion_educativa">Gestión educativa</option>
                <option value="hoja_de_vida">Tramitar Hoja de Vida</option>
                <option value="realizar_pago">Realizar pago</option>
                <option value="consecucion_recurso">Consecución Recursos Economicos</option>
                <option value="programar_llamada">Programar llamada</option>
                <option value="programar_reunion">Programar reunión</option>
                <option value="comercial">Comercial</option>
                <option value="compromiso_congresista">Compromiso congresista</option>
                <option value="presentacion_lideres">Presentación de Líder(es)</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="titulo">Título:</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="titulo" name="titulo" required value="{{titulo}}">
            </div>
          </div>

          <!--<div class="form-group row">
            <label class="col-md-2 form-control-label" for="objetivo">Objetivo:</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="objetivo" name="objetivo" required value="{{objetivo}}">
            </div>
          </div>-->

          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="descripcion">Descripción:</label>
            <div class="col-md-10">
              <textarea class="form-control" id="descripcion" name="descripcion" required>{{descripcion}}</textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 form-control-label" for="egresos">Egresos:</label>
            <div class="col-md-10">
              <input type="number" class="form-control" id="egresos" name="egresos" value="{{egresos}}">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 form-control-label">Participantes:</label>
            <div class="col-md-10">
              <select id="eventResponsible" multiple data-plugin="select2" name="usuario_responsable" required {{#if usuario_responsable}}data-autoselect="{{join usuario_responsable}}"{{/if}}>
                {{#each usuarios}}
                  <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Editar Proyecto</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script data-plugin="select2"></script>

{{#contentFor "pageScripts"}}
<script src="/js/select2.js"></script>
{{/contentFor}}

{{#contentFor "loadedScript"}}
  window.members = {{#if members}}{{{toJSON members}}}{{else}}{}{{/if}};
{{/contentFor}}
