<div class="page">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Page Widget -->
                <div class="widget widget-shadow">
                  <div class="widget-header">
                      <div class="widget-header-content">
                          <div class="media">
                            <div class="media-body">
                              <h4 class="profile-user">{{titulo}}</h4>
                            </div>
                          </div>
                          <br>
                          <div class="profile-job">
                            <dl class="dl-horizontal">
                              <dt>Organización:</dt>
                              <dd>{{organizacion.nombre}}</dd>
                              <dt>Personaje:</dt>
                              <dd>{{#if personaje}}<a href="/admin/personajes/{{personaje._id}}">{{personaje.nombre}}</a>{{/if}}</dd>
                              <dt>Descripción:</dt>
                              <dd>{{descripcion}}</dd>
                              <dt>Objetivo:</dt>
                              <dd>{{objetivo}}</dd>
                              <dt>Tipo de proyecto:</dt>
                              <dd>{{tipoProyecto tipo}}</dd>
                              <dt>Egresos:</dt>
                              <dd>{{money egresos}}</dd>
                              <dt>Participantes:</dt>
                              <dd>
                                {{#if usuario_responsable}}
                                  {{#each usuario_responsable}}
                                    {{name}}
                                  {{/each}}
                                {{/if}}
                              </dd>
                              <dt>Progreso:</dt>
                              <dd>
                                {{countCond tareas 'finalizado' '==' true}}/{{count tareas}} tareas completadas.
                                <div class="progress progress-xs">
                                  <div class="progress-bar active" style="width: {{countPercent tareas 'finalizado' '==' true}}%;" role="progressbar"></div>
                                </div>
                              </dd>
                            </dl>
                            <a href="{{_id}}/edit" class="btn btn-default">Editar</a>
                            <a href="{{_id}}/delete" class="btn btn-danger">Eliminar</a>
                          </div>
                      </div>
                    </div>
                  </div>
                <!-- End Page Widget -->
            </div>

            <div class="col-md-9">
                <!-- Panel -->
                <div class="panel">
                  <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                      <li class="nav-item" role="presentation">
                        <a class="active nav-link" data-toggle="tab" href="#tareas" aria-controls="tareas" role="tab">Tareas</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#comments" aria-controls="comments"
                        role="tab">Comentarios</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" data-toggle="tab" href="#files" aria-controls="files"
                        role="tab">Archivos</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active animation-slide-left pt-20" id="tareas" role="tabpanel">
                        <!--
                        titulo: String,
                        descripcion: String,
                        finalizado: {type: Boolean, default: false},
                        notificar: Date,
                        fecha_creacion: Date,
                        fecha_finalizado: Date,
                        fecha_inicio: Date, // Calendario
                        fecha_fin: Date, // Calendario
                        creado: {type: ObjectId, ref: 'User'},
                        responsable: {type: ObjectId, ref: 'User'},
                        personaje: {type: ObjectId, ref: 'Personaje'},
                        comentario: String,
                        visto: {type: Boolean, default: false}, // si el responsable vio la tarea
                        -->
                        <form class="form-vertical hidden-xs-up datepair-this" action="{{_id}}/tarea" id="proyectoTareaForm" method="POST">
                          <div class="form-group">
                            <label class="form-control-label" for="titulo">Título:</label>
                            <input type="text" name="titulo" required class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="form-control-label" for="descripcion">Descripción:</label>
                            <input type="text" name="descripcion" required class="form-control">
                          </div>
                          <div class="form-group">
                            <label class="form-control-label" for="responsable">Responsable:</label>
                            <select id="responsable" class="form-control selectAjax" data-model="usuarios" name="responsable" required></select>
                          </div>
                          <div class="form-group">
                            <label class="form-control-label" for="personaje">Vincular personaje:</label>
                            <select id="personaje" class="form-control selectAjax" data-model="personajes" name="personaje"></select>
                          </div>
                          <div class="form-group">
                            <label class="form-control-label" for="fecha_inicio">Inicia:</label>
                            <div class="input-daterange-wrap">
                              <div class="input-daterange">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                  </span>
                                  <input type="text" name="fecha_inicio" class="form-control date start" data-plugin="datepicker">
                                </div>
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="icon wb-time" aria-hidden="true"></i>
                                  </span>
                                  <input type="text" name="fecha_inicio_time" class="form-control time start ui-timepicker-input" data-plugin="timepicker" autocomplete="off">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group mb-20">
                            <label class="form-control-label" for="fecha_fin">Finaliza:</label>
                            <div class="input-daterange-wrap">
                              <div class="input-daterange">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="icon wb-calendar" aria-hidden="true"></i>
                                  </span>
                                  <input type="text" name="fecha_fin" class="form-control date end" data-plugin="datepicker">
                                </div>
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="icon wb-time" aria-hidden="true"></i>
                                  </span>
                                  <input type="text" name="fecha_fin_time" class="form-control time end" data-plugin="timepicker" autocomplete="off">
                                </div>
                              </div>
                            </div>
                          </div>
                          <br><br>
                          <button type="submit" class="btn btn-success btn-block">Crear Tarea</button>
                          <div class="btn btn-block btn-default cancelar-elemento">Cancelar</div>
                        </form>
                        <div class="btn btn-block btn-default agregar-elemento">Agregar Tarea</div>
                        {{#if tareas}}
                        <div class="container-fluid mt-20">
                          {{#each tareas}}
                          <div class="col-sm-12 row tarea-box pb-10">
                            <div class="col-sm-6">
                              <div class="mt-0 checkbox-custom checkbox-success checkbox-lg">
                                <input type="checkbox" name="checkbox" {{#if finalizado}}checked{{/if}} class="check-ajax" data-id="{{_id}}">
                                <label class="item-title">
                                  <h4 class="mb-0">{{titulo}}</h4>
                                  <p>{{descripcion}}</p>
                                  {{#if personaje}}
                                    <p>Personaje vinculado:<br><a href="/admin/personajes/{{personaje._id}}">{{personaje.nombre}}</a></p>
                                  {{/if}}
                                </label>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <p>Inicia: {{date fecha_inicio}}</p>
                              <p>Finaliza: {{date fecha_inicio}}</p>
                              <p><em>Responsable:</em> {{responsable.name}}</p>
                            </div>
                            <div class="col-sm-3">
                              <p><em>Estado:</em> {{#if finalizado}}Finalizada{{else}}Pendiente{{/if}}{{#if visto}} <i title="Visto" class="fa fa-eye"></i>{{/if}}</p>
                              <form action="{{../_id}}/eliminar_tarea" id="eliminarTareaForm" method="POST">
                                <input type="hidden" name="id" value="{{_id}}">
                                <div class="form-group">
                                  <button type="submit" class="btn btn-danger btn-xs eliminar-tarea">Eliminar tarea</button>
                                </div>
                              </form>
                            </div>
                          </div>
                          {{/each}}
                        </div>
                        {{else}}
                          <h5>Éste proyecto aún no tiene tareas, agrega una para empezar.</h5>
                        {{/if}}
                      </div>
                      <div class="tab-pane pt-20" id="comments" role="tabpanel">
                        <form class="hidden-xs-up" action="{{_id}}/comment" id="proyectoCommentForm" method="POST">
                          <div class="form-group">
                            <textarea name="comentario" required class="form-control" placeholder="Escribe un comentario"></textarea>
                          </div>
                          <button type="submit" class="btn btn-success btn-block">Dejar Comentario</button>
                          <div class="btn btn-block btn-default cancelar-elemento">Cancelar</div>
                        </form>
                        <div class="btn btn-block btn-default agregar-elemento">Agregar Comentario</div>
                        {{#if comentarios}}
                        <div class="app-message-chats">
                          <div class="chats">
                            {{#each comentarios}}
                            <div class="chat chat-left">
                              <div class="chat-avatar">
                                {{usuario.name}}<br>
                                <small data-livestamp="{{createdAt}}"></small>
                              </div>
                              <div class="chat-body">
                                <div class="chat-content">
                                  <p>{{comentario}}</p>
                                </div>
                              </div>
                            </div>
                            {{/each}}
                          </div>
                        </div>
                        {{else}}
                          <h5 class="pt-20">Aún no tiene comentarios</h5>
                        {{/if}}
                      </div>
                      <div class="tab-pane" id="files" role="tabpanel">
                        <form class="upload-form pt-20" id="personajeUploadForm" action="{{_id}}/upload" method="POST" enctype="multipart/form-data">
                          <input required type="file" id="inputUpload" name="file">
                          <div class="uploader-inline">
                            <p class="upload-instructions">Da click o arrastra un archivo para subirlo.</p>
                          </div>
                          <button type="submit" class="btn btn-success btn-block">Subir archivo</button>
                        </form>
                        {{#if archivos}}
                        <table class="table table-hover mt-30">
                          <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th>Archivo</th>
                              <th>Subido por</th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each archivos}}
                            <tr>
                              <td>
                                <i class="fa {{getIcon mimetype}}"></i>
                              </td>
                              <td>{{originalname}}</td>
                              <td>{{usuario.name}}</td>
                              <td><a href="/uploads/{{filename}}" target=_blank class="btn btn-outline btn-dark">Descargar</a></th>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        {{else}}
                          <h5 class="pt-20">Aún no tiene Archivos</h5>
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Panel -->
            </div>
        </div>
    </div>
</div>

<script data-plugin="select2"></script>
<script data-plugin="datepair"></script>

{{#contentFor "pageScripts"}}
<script src="/js/select2.js"></script>
<script src="/js/proyectos_view.js"></script>
{{/contentFor}}
